#body_div{
    width: 100%;
    background-color: #e6ecf7;
    min-width: 850px;
}
.lb_button{
    padding: 8px;
    height: 30px;
    width: 80px;
}
.py-3{
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}