.fysqpage{
    width: 100%;
    overflow: auto;
    background-color: rgb(204, 220, 250)
}
.titletop{
    width: 96%;
  
    margin: 1% 2% 0 2%;
    & span{
        background-color: white;
    }
}
.pagehead{
    text-align: center;
    width: 96%;
    margin: 2% 2% 2% 2%;
    min-height: 120px;
    background-color: white;
    padding: 2% 2% 2% 2%;
    & div{
        width: 40%;
        margin-left: 5%;
        float: left;
        text-align: center;
    }
    & /deep/ .md-form{
        margin: 0;
    }
}
.pagebody{
    width: 96%;
    margin: 2% 2% 2% 2%;
   
    border: 3px rgb(180, 180, 230) solid;

}
.inside{
    background-color: white;
    width: 96%;
    min-height: 350px;
    margin: 2% 2% 2% 2% ;
    padding: 2% 2% 2% 2% ;
    & .feiyongxinxi{
        border: 1px solid black;
        min-height: 180px;
        padding: 2% 2% 2% 2%;
        margin-bottom: 2%;
        & .col-md-6{
            width: 20%;
            margin-left: 3%;
            float: left;
        }
        & .md-form{
            width: 19%;
            margin-left: 4%;
            float: left;
        }
    }
    & .zhanghuxinxi{
        border: 1px solid black;
        min-height: 200px;
        padding: 2% 2% 2% 2%;
        margin-top: 2%;
        & .md-form{
            width: 30%;
            margin-left: 2%;
            float: left;
        }
    }
    

}
.pagefoot{
    text-align: center;
    
}