<div class="row">
    <div class="fysqpage">
          <div class="titletop">
                <span>融资发放</span>
          </div>
          <div class="pagehead">
              <div class="md-form">
                  <input mdbInputDirective type="text" id="form1" name="cuNo" [(ngModel)]="inputdata.cuNo" [disabled]="true" class="form-control">
                  <label for="form1" class="">客户号</label>
              </div>
              <div class="md-form">
                  <input mdbInputDirective type="text" id="form1" name="cuName" [(ngModel)]="inputdata.cuName" [disabled]="true" class="form-control">
                  <label for="form1" class="">客户名称</label>
              </div>
              <div class="md-form">
                  <input mdbInputDirective type="text" id="form1" name="signTimestamp" [(ngModel)]="inputdata.signTimestamp" [disabled]="true" class="form-control">
                  <label for="form1" class="">业务类型</label>
              </div>
              <div class="md-form">
                  <input mdbInputDirective type="text" id="form1" name="contNo" [(ngModel)]="inputdata.contNo" [disabled]="true" class="form-control">
                  <label for="form1" class="">合同编号</label>
              </div>
              
          </div>
          <div class="pagebody">
              <app-hetongxq [edit]="true"></app-hetongxq>
          </div>
    </div>
  
  </div>