.head{
    height: 20%;
    min-height: 60px;
    margin-bottom: 3%;
    padding-top: 2%;
}
// .sqxqpage{
//     height: 100%;
//     width: 100%;
// }
.buttonpage{
    margin-bottom: 3%;
    width: 100%;
}