<div class="sqxqpage" >
    <!-- <div class="head">
        <app-shenqingxiangqing-head [InputData]="InputData"></app-shenqingxiangqing-head>
    </div>
    <div class="buttonpage">
            <button mdbBtn type="button" color="primary" size="sm" (click)="opens('khjbxx')" mdbWavesEffect>客户信息</button>
            <button mdbBtn type="button" color="primary" size="sm" (click)="opens('myxx')" mdbWavesEffect>贸易信息</button>
            <button mdbBtn type="button" color="primary" size="sm" (click)="opens('rqsqxq')" mdbWavesEffect>申请详情</button>
        
    </div> -->
    <div class="body">
        <span *ngIf="apppage=='rqsqxq'">
            <app-shenqingxiangqing-body [InputData]="InputData"></app-shenqingxiangqing-body>
        </span>
        
    </div>   
</div>

