.title_div{
    margin:1%
}
.fjsc_div{
    width: 95%;
    margin: 1% auto;
    background-color: #ffffff;
}
.font_red{
    color: red;
}
.bk_div{
    display: inline-block;
    width: 32%;
    margin: 1% 1%;
    margin-right: 0%;
    text-align: center;
}
#title_div{
    margin: 0 10px;
    margin-bottom: 10px;
    padding-top: 20px !important;
    padding-bottom: 5px;
    background-color: #dedeff;
}
.dom_div{
    background-color: #DEDEFF;
    min-width: 750px;
}
#button_div button{
    padding: 0px;
    height: 25px;
    width: 60px;
    margin: 30px;
    background-color: #454a6a !important;
}
#button_div{
    width: 100%;
    text-align: center;
    background: #dedeff;
}