<div class="">
  <div class="rzsqpage">
    <div style="width:100%;min-width:660px;height:10%;min-height: 90px;">
      <div style="background-color:white;min-width:190px; width:96%;">
        <app-breadcrumbs [title]="title"></app-breadcrumbs>
      </div>

    </div>
    <!-- 以下是搜索框内容 -->
    <div class="rzsq_body">
      <div class="rzsq_body_head">
        <div class="col-md-6">
          <mdb-select [options]="idTypes" label="证件类型" name="idType" [(ngModel)]="testarray.idType" placeholder="证件类型"></mdb-select>
        </div>
        <div style="width:20%;display: inline-block;">
          证件号码：
        <app-df-input [(values)]="inputVal"  [width]="'200px'"></app-df-input>
      </div>
      <div style="width:20%;display: inline-block;">
        客户名称：
      <app-df-input [(values)]="inputVal"  [width]="'200px'"></app-df-input>
    </div>
        <!-- <div class="md-form">
          <input mdbInputDirective placeholder="证件号码" name="idNo" type="text" id="form1" [(ngModel)]="testarray.idNo"
            class="form-control">
          <label for="form58">证件号码</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective placeholder="客户名称" name="cifName" type="text" [(ngModel)]="testarray.cifName" id="form2"
            class="form-control">
          <label for="form58">客户名称</label>
        </div> -->
        <div class="col-md-6">
          <mdb-select [options]="finproNos" label="金融产品" [(ngModel)]="testarray.finproNo" name="finproNo" placeholder="金融产品"></mdb-select>
        </div>
        <div class="col-md-6">
          <mdb-select [options]="busTypes" label="业务类型" [(ngModel)]="testarray.busType" name="busType" placeholder="业务类型"></mdb-select>
        </div>
        <div class="col-md-6">
          <mdb-select [options]="suStas" label="申请状态" [(ngModel)]="testarray.suSta" name="suSta" placeholder="申请状态"></mdb-select>
        </div>

        <mdb-date-picker name="begDate" (click)="pickerFocus($event);" [options]="myDatePickerOptions" label="融资开始日期"
          [(ngModel)]="testarray.begDate" required></mdb-date-picker>

        <mdb-date-picker name="endDate" (click)="pickerFocus($event);" [options]="myDatePickerOptions" label="融资结束日期"
          [(ngModel)]="testarray.endDate" required></mdb-date-picker>
        <div style="width:20%;display: inline-block;margin-left: 2%;padding-top: 20px;">
          <!-- <button mdbBtn type="button" color="info" rounded="true" (click)="search()" outline="true" size="sm"
            mdbWavesEffect>查询</button>
          <button mdbBtn type="button" color="info" rounded="true"  outline="true" size="sm"
            mdbWavesEffect>重置</button> -->
          <button mdbBtn type="button" color="primary" class="waves-light btn-sm" (click)="search()" mdbWavesEffect>查询</button>
          <button mdbBtn type="button" color="primary" class="waves-light btn-sm" (click)="reset()" mdbWavesEffect
            mdbWavesEffect>重置</button>
        </div>


      </div>
      <div class="rzsq_body_table">
        <div class="row">
          <div class="col-md-3">
            融资申请查询列表
          </div>
          <div class="col-sm" style="text-align: right;">


            <!-- <button mdbBtn type="button" color="info" rounded="true" outline="true" (click)="newdemoBasic.show()" size="sm"
              mdbWavesEffect>新增</button>
            <button mdbBtn type="button" color="info" rounded="true" outline="true" size="sm" mdbWavesEffect>删除</button>
            <button mdbBtn type="button" color="info" rounded="true" outline="true" size="sm" mdbWavesEffect>修改</button>
            <button mdbBtn type="button" color="info" rounded="true" outline="true" size="sm" mdbWavesEffect>导出</button> -->
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" (click)="newdemoBasic.show()"
              mdbWavesEffect>新增</button>
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect mdbWavesEffect>删除</button>
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect>修改</button>
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect mdbWavesEffect>导出</button>

          </div>
        </div>
        <div class="px-4">
          <table class="table table-hover table-responsive-md mb-0 table-bordered">
            <thead class="lighten-2">
              <tr>
                <th *ngFor="let head of table_head">
                  <span *ngIf="head=='checklabel'">
                    <input class="mybox" type="checkbox" [(ngModel)]="check" name="checkall" (click)="allCheck()">
                  </span>
                  <span *ngIf="head!='checklabel'">
                    {{head}}
                  </span>

                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let el of tableData; let i = index">
                <tr>
                  <td scope="row">{{i+1}}</td>
                  <td>
                    <span *ngIf="check==false">
                      <input type="checkbox" class="mybox">
                    </span>
                    <span *ngIf="check==true">
                      <input type="checkbox" class="mybox" checked>
                    </span>
                  </td>
                  <td>{{el.cifName}}</td>
                  <td>{{el.busType}}</td>
                  <td>{{el.authId}}</td>
                  <td>{{el.auAmt}}</td>
                  <td>{{el.begDate}}</td>
                  <td>{{el.endDate}}</td>
                  <td>{{el.termType}}</td>
                  <td>{{el.term}}</td>
                  <td>{{el.suSta}}</td>
                  <td>
                    <!-- <button mdbBtn type="button" color="blue-grey" class="df-btn btn-sm" outline="true" mdbWavesEffect
                     >申请详情</button> -->
                      <a  (click)="shenqingxiangqing(i);demoBasic.show();">申请详情 </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <nav class="my-4 pt-2">
            <ul class="pagination pagination-circle pg-purple mb-0">
              <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                <a class="page-link">首页</a>
              </li>
              <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index"
                class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
              </li>
              <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                <a class="page-link">尾页</a>
              </li>
              <li class="page-item clearfix d-none d-md-block disabled">
                <span class="page-link">{{itemsPerPage}}条/页</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div mdbModal #newdemoBasic="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="wins" role="document">
    <div class="modal-content">
      <button type="button" class="close pull-right" aria-label="Close" (click)="newdemoBasic.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <div id="mtk_div" class="wins-body">
        <app-xinzengrongzishenqing (OutputData)="trangetData($event)" [nowPage]="newdemoBasic" [lastPage]="demoBasic"></app-xinzengrongzishenqing>
      </div>
    </div>
  </div>
</div>

<div mdbModal #demoBasic="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="wins" role="document">
    <div class="modal-content">
      <button type="button" class="close pull-right" aria-label="Close" (click)="demoBasic.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <div id="mtk_div" class="wins-body" style="overflow:auto;">
        <app-sq-xx [InputData]="InputData"></app-sq-xx>
      </div>
    </div>
  </div>
</div>

