.title_div{
    color: blue;
    padding: 7px;
    background-color: #ffffff;
    position: absolute;
    left: 50px;
    top: -12px;
}
#alert_div{
    position: fixed;
    top: 130px;
    left: 130px;
}
/* #head_div, */#button_div{
    background: #dedeff;
}
/* #head_div button{
    padding: 0px;
    height: 25px;
    width: 60px;
    margin:10px 30px;
} */
#button_div{
    width: 100%;
    text-align: center;
}
.bk_div{
    display: inline-block;
    width: 30%;
    margin:3% 1%;
}
.chang_div{
    margin-left: 5px !important;
    width: 75% !important;
}
.body_div{
    text-align: center;
    border: 1px solid #615a5a;
    margin: 0 auto;
    margin-top: 30px !important;
    position: relative;
    background-color: #ffffff;
    width: 95%;
}
#button_div button{
    padding: 0px;
    height: 25px;
    width: 60px;
    margin: 30px;
    background-color: #454a6a !important;
}
.title_b{
    font-size: 14px
}
.font_red{
    color: red;
}
.charter_inform{
    text-align: center;
    min-width: 600px;
    width: 96%;
    height: 30%;
    min-height: 330px;
    //height: 30%;
    
   
    padding-top:2%;
    padding-left: 2%;
    & .md-form{
        width: 40% ;
        height: 10% ;
        margin: 2% 2% 2% 2% ;
        float: left ;
        
        
        
    }
    & .col-md-6{
        
        min-height: 80px;
        width: 40%;
        float: left;
        margin: 2% 2% 2% 2% ;
    }
    
    
   
    
}