<!-- <div id="head_div">
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>基本信息</button>
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>联系信息</button>
    <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>概况信息</button>
</div> -->
<form action="" method="">
<div class="body_div">
  <div class="title_div"><strong class="title_b">企业资本信息</strong></div>
    <div class="form_div">
        <div class="chang_div col-md-6 mx-auto mt-5">
                <mdb-select [disabled]='Idisabled' name="gkxx.curNo" placeholder="请选择" [options]="CUR_NO" [(ngModel)]="gkxx.curNo" label="币种*:" ></mdb-select>
        </div>
        <div class="bk_div">
            <div class="md-form input-group">
                <input [disabled]='Idisabled' type="text" [(ngModel)]="gkxx.regFund" class="form-control" name="gkxx.regFund" placeholder="注册资本*" aria-describedby="basic-addon1">
                <div class="input-group-prepend" id="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">万</span>
                </div>
            </div>
        </div>
       <div class="bk_div">
            <div class="md-form input-group" >
                <input [disabled]='Idisabled' type="text" [(ngModel)]="gkxx.factFund" class="form-control" name="gkxx.factFund" placeholder="实收资本" aria-describedby="basic-addon2">
                <div class="input-group-prepend" id="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">万</span>
                </div>
            </div>
       </div>
       <br><br>
    </div>
</div>
<div class="body_div">
    <div class="title_div"><strong class="title_b">企业经营信息</strong></div>
    <div class="form_div">
        <div class=".chang_div  mt-5">
            <div class="md-form">
                <textarea [disabled]='Idisabled' [(ngModel)]="gkxx.runRange" name="gkxx.runRange" type="text" id="JYFW_text" class="md-textarea form-control" mdbInputDirective></textarea>
                <label for="JYFW_text">经营范围<span class="font_red">*</span></label>
            </div>
        </div>
        <div class="chang_div col-md-6 mx-auto mt-5">
                <mdb-select [disabled]='Idisabled' placeholder="请选择" name="gkxx.mainBus" [options]="MAIN_BUS" [(ngModel)]="gkxx.mainBus" label="主营业务:" ></mdb-select>
        </div>
        <div class="bk_div">
                <div class="md-form input-group">
                    <input [disabled]='Idisabled' type="text" [(ngModel)]="gkxx.assTot" class="form-control" name="gkxx.assTot" placeholder="资产总额" aria-describedby="basic-addon3">
                    <div class="input-group-prepend" id="basic-addon3">
                        <span class="input-group-text" id="basic-addon3">万</span>
                    </div>
                </div>
            </div>
           <div class="bk_div">
                <div class="md-form input-group" >
                    <input [disabled]='Idisabled' type="text" [(ngModel)]="gkxx.saleTot" class="form-control" name="gkxx.saleTot" placeholder="年销售额" aria-describedby="basic-addon4">
                    <div class="input-group-prepend" id="basic-addon4">
                        <span class="input-group-text" id="basic-addon4">万</span>
                    </div>
                </div>
           </div>

      </div>
</div>
<br>
<div *ngIf="flag" id="button_div">
        <button [disabled]="isAjax" mdbBtn type="button" color="success" (click)="submitData()" class="waves-light" mdbWavesEffect>保存</button>
        <button [disabled]="isAjax" mdbBtn type="button" color="danger" (click)="reSetModel()" class="waves-light" mdbWavesEffect>取消</button>
</div>
<div *ngIf="!flag" id="button_div">
        <button *ngIf="btnFlag" [disabled]="isAjax" mdbBtn type="button" color="danger" (click)="modification()" class="waves-light" mdbWavesEffect>修改</button>
        <button *ngIf="!btnFlag" [disabled]="isAjax" mdbBtn type="button" color="success" (click)="submitUp()" class="waves-light" mdbWavesEffect>保存</button>
        <button  [disabled]="isAjax" [hidden]="Idisabled" mdbBtn type="button" color="danger" (click)="confirmModification()" class="waves-light" mdbWavesEffect>取消</button>
</div>
<div class="alert alert-danger" [hidden]="danger_hid" id="alert_div" role="alert">
    <strong>{{alertTxt}}</strong>
</div>
</form>