<div>
  this is head
</div>
<div>
  <form>
    <div class="file-field md-form">
      <div mdbBtn rounded="true" outline="true" color="secondary" size="md" mdbWavesEffect>
        <span class="pt-1">Choose file</span>
        <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
      </div>
      <div class="file-path-wrapper mt-2">
        <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
      </div>
    </div>
    <button mdbBtn type="button" rounded="true" outline="true" color="secondary" (click)="startUpload()" mdbWavesEffect>Start
      uploading</button>
  </form>
</div>


<!-- <form class="form-horizontal" enctype="multipart/form-data">
<div class="form-group">
  <label class="col-sm-2 control-label">选择文件</label>
  <div class="col-sm-9">

  选择本地文件 - multiple="multiple"多选；accept=".xls,.doc,.pdf"限制条件；(change)="fileChange()"每次选择本地文件完成后触发的函数；-->
<!-- <input type="file" class="btn" multiple="multiple" (change)="fileChange()" accept=".xls,.doc,.pdf" #filesMulti style="padding-left:0; "/> -->

<!-- 本地文件列表 
    <table *ngIf="fileData.length && fileData" class="table table-bordered table-striped wjccgl_table" id="file_name_contain" #fileNameContain>
      <thead>
        <tr>
          <td>文件名</td>
          <td>操作</td>
          <td>状态</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of fileData, let i = index">
          <td>{{item.fileName}}</td>
          <td>
            <a href="javascript:;" (click)="fileDel(item.fileName)">删除</a>
          </td>
          <td>
            <a href="javascript:;" (click)="fileUpload(item.file, i)">上传</a>
            <span class="label label-default" *ngIf="item.status === '未上传'">未上传 </span>
            <span class="label label-success" *ngIf="item.status === '已上传'">已上传 </span>
            <span class="label label-error" *ngIf="item.status === '上传失败'">上传失败 </span>
          </td>
        </tr>
      </tbody>
    </table>

     提示信息 
    <p class="help-block">* 目前只支持word/excel/pdf文件上传.</p>
  </div>
</div></form> -->