<div class="row">
      <div class="fysqpage">
            <div class="titletop">
                  <span>费用收取</span>
            </div>
            <div class="pagehead">
                <div class="md-form">
                    <input mdbInputDirective type="text" id="form1" [disabled]="true" class="form-control">
                    <label for="form1" class="">客户号</label>
                </div>
                <div class="md-form">
                    <input mdbInputDirective type="text" id="form1" [disabled]="true" class="form-control">
                    <label for="form1" class="">客户名称</label>
                </div>
                <div class="md-form">
                    <input mdbInputDirective type="text" id="form1" [disabled]="true" class="form-control">
                    <label for="form1" class="">业务类型</label>
                </div>
                <div class="md-form">
                    <input mdbInputDirective type="text" id="form1" [disabled]="true" class="form-control">
                    <label for="form1" class="">合同编号</label>
                </div>
                
            </div>
            <div class="pagebody">
                    <div class="inside">
                          <div class="feiyongxinxi">
                              
                                  <div class="col-md-6">
                                    <mdb-select [options]="optionsSelect" placeholder=" " label="费用类型"></mdb-select>
                                  </div>
                             
                                  <div class="col-md-6">
                                    <mdb-select [options]="optionsSelect" placeholder=" " label="付费方"></mdb-select>
                                  </div>
                              
                                  <div class="col-md-6">
                                    <mdb-select [options]="optionsSelect" placeholder=" " label="收取方式"></mdb-select>
                                  </div>
                             
                                  <div class="col-md-6">
                                    <mdb-select [options]="optionsSelect" placeholder=" " label="支付方式"></mdb-select>
                                  </div>
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" id="form1" class="form-control">
                                      <label for="form1" class="">分期次数（次支付）</label>
                                  </div>
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" id="form1" class="form-control">
                                      <label for="form1" class="">费率（%）</label>
                                  </div>
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" id="form1" class="form-control">
                                      <label for="form1" class="">每期金额</label>
                                  </div>
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" id="form1" class="form-control">
                                      <label for="form1" class="">费用总额</label>
                                  </div>

                          </div> 
                          <div class="zhanghuxinxi">
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">付款银行账户</label>
                              </div>
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">付款银行账户户名</label>
                              </div>
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">付款账户开户行</label>
                              </div>
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">收款银行账号</label>
                              </div>
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">收款银行账号户名</label>
                              </div>
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">收款账户开户行</label>
                              </div>
                          </div> 
                    </div>
                    <div class="pagefoot">
                        <button type="button" mdbBtn color="primary" mdbWavesEffect>提交</button>
                        <button mdbBtn type="button" color="info" outline="true" mdbWavesEffect>取消</button>
        
                    </div>
            </div>
            

      </div>

</div>