<div class="sqxq_head">
    <div class="md-form form-sm">
        <input type="text"  class="form-control" disabled>
        <label  class="disabled">{{testarray.idType}}</label>
    </div>
    <div class="md-form form-sm">
        <input type="text"  class="form-control" disabled>
        <label  class="disabled">{{testarray.idNo}}</label>
      </div>
    <div class="md-form form-sm">
        <input type="text"  class="form-control" disabled>
        <label  class="disabled">{{testarray.cifName}}</label>
    </div>
    
</div>
