<div class="sqxq_head">
    <div class="md-form form-sm">
        <input type="text"  class="form-control" [(ngModel)]="testarray.idType" disabled>
        <label  class="disabled">证件类型</label>
    </div>
    <div class="md-form form-sm">
        <input type="text"  class="form-control" [(ngModel)]="testarray.idNo" disabled>
        <label  class="disabled">证件号</label>
      </div>
    <div class="md-form form-sm">
        <input type="text"  class="form-control" [(ngModel)]="testarray.cuName"  disabled>
        <label  class="disabled">客户名称</label>
    </div>
    
</div>
