<div id="body_div">
  <div id="title_div">
    贷款还款
  </div>
  <div id="fu_div">
    <div id="zi_div">
      <span>客户号:{{khh}}</span>
      <span>客户名称:{{khmc}}</span>
      <span>合同编号:{{htbh}}</span>
      <span>业务类型:{{ywlx}}</span>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="py-3 px-3">
      <label mdbBtn color="primary" class="lb_button" [(ngModel)]="radioModel" mdbRadio="htxq" mdbWavesEffect>
        <a>合同详情</a>
      </label>
      <label mdbBtn color="primary" class="lb_button" [(ngModel)]="radioModel" mdbRadio="yszkhk" mdbWavesEffect>
        <a>应收账款回款</a>
      </label>
    </div>
  </div>
  <div class="body_div">
    <div class="title_div"><strong class="title_b">基本信息</strong></div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">融资金额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">利率:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">计息天数:</label>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">融资金额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">利率:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
            <mdb-select [options]="timeType" placeholder="请选择" label="授信额度类型*:"></mdb-select>
            <mdb-select [options]="AUTH_SPLIT_TYPT" placeholder="请选择" label="授信额度类型*:"></mdb-select>
        </div>
      </div>
    </div>
    <hr>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">授信协议编号:</label>
      </div>
    </div>
    <div class="bk_div">
      <div class="check_div">是否单笔业务<span class="font_red">*</span></div>
      <div class="radio_left custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="EDSYFS3" value="true" mdbInputDirective>
        <label class="custom-control-label" for="EDSYFS3">是</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="EDSYFS4" value="false" mdbInputDirective>
        <label class="custom-control-label" for="EDSYFS4">否</label>
      </div>
    </div>
    <div id="table_title"><strong>应收账款明细</strong></div>
  </div>
  <div id="yszkmx_table_div">
    <br>
    <table class="table table-hover table-responsive-md mb-0 table-bordered">
      <thead class="lighten-2">
        <tr>
          <th scope="row"></th>
          <!-- <th scope="row">
            <mdb-checkbox (click)="quanXuan()" [(ngModel)]="qx_btn"></mdb-checkbox>
          </th> -->
          <th scope="row">买方</th>
          <th scope="row">基础交易合同名称</th>
          <th scope="row">基础交易合同编号</th>
          <th scope="row">单据类型</th>
          <th scope="row">单据号码</th>
          <th scope="row">应收账款到期日</th>
          <th scope="row">应收账款金额</th>
          <th scope="row">融资比例(%)</th>
          <th scope="row">融资款金额</th>
          <th scope="row">指定收款金额</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of tableData; let i = index">
          <tr>
            <td scope="row" class="index_td">{{i+1}}</td>
            <!-- <td scope="row">
              <mdb-checkbox [(ngModel)]="check_arr[i]"></mdb-checkbox>
            </td> -->
            <td scope="row">{{data.busName}}</td>
            <td scope="row">{{data.busCouna}}</td>
            <td scope="row">{{data.busCoun}}</td>
            <td scope="row">{{data.busType}}</td>
            <td scope="row">{{data.busNo}}</td>
            <td scope="row">{{data.endDate}}</td>
            <td scope="row">{{data.busRecei}}</td>
            <td scope="row">{{data.downPaymentFlt}}</td>
            <td scope="row">{{data.loaAmt}}</td>
            <td scope="row">{{data.resAmt}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="body_div">
    <div class="title_div"><strong class="title_b">融资信息</strong></div>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">单据对应可融资金额<span class="font_red">*</span></label>
      </div>
    </div>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">本次融资申请金额<span class="font_red">*</span></label>
      </div>
    </div>

    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">利率<span class="font_red">*</span></label>
      </div>
    </div>

    <!-- <div class="input-group bk_div">
      <div id="qx_input" class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">期限<span class="font_red">*</span></label>
      </div>
      <div id="inlineb_div" class="input-group-append">
        <div class="btn-group" mdbDropdown>
          <button id="qx_btn" mdbDropdownToggle type="button" mdbBtn color="default" size="md" class="dropdown-toggle z-depth-0"
            mdbWavesEffect>{{button_text}}</button>
          <div class="dropdown-menu">
            <span class="dropdown-item " href="javascript:;" *ngFor="let item of TERM_TYPE; let i=index" (click)="qx_show(i)">
              {{item.label}}
            </span>
          </div>
        </div>
      </div>
    </div> -->
    <!-- ------------------------------------------------------------------------------------------ -->

    <div class="bk_div">
      <mdb-date-picker [(ngModel)]="aaa" (click)="pickerFocus($event)" [options]="myDatePickerOptions" dateFormat="yy/mm/dd"
        label="融资申请审批日期*" required></mdb-date-picker>
    </div>
    <div class="bk_div">
      <mdb-date-picker [(ngModel)]="aaa" (click)="pickerFocus($event)" [options]="myDatePickerOptions" dateFormat="yy/mm/dd"
        label="融资到期日期*" required></mdb-date-picker>
    </div>

    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">担保比例 (%)</label>
      </div>
    </div>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">担保金额:</label>
      </div>
    </div>

    <div class=" mt-5">
      <div class="md-form">
        <textarea type="text" id="JYFW_text" class="md-textarea form-control" mdbInputDirective></textarea>
        <label for="JYFW_text">其他事项:</label>
      </div>
    </div>
  </div>
  <div class="body_div">
    <div class="title_div"><strong class="title_b">登记信息</strong></div>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirectiv type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">登记单位:</label>
      </div>
    </div>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">登记单位名称:</label>
      </div>
    </div>

    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">登记人名称:</label>
      </div>
    </div>
    <div class="bk_div col-md-6 mx-auto mt-5">
      <div class="md-form">
        <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
        <label for="fddbr_1input" class="">修改人名称:</label>
      </div>
    </div>

    <div class="bk_div">
      <mdb-date-picker [(ngModel)]="aaa" (click)="pickerFocus($event)" [options]="myDatePickerOptions" dateFormat="yy/mm/dd"
        label="登记时间" required></mdb-date-picker>
    </div>
    <div class="bk_div">
      <mdb-date-picker [(ngModel)]="aaa" (click)="pickerFocus($event)" [options]="myDatePickerOptions" dateFormat="yy/mm/dd"
        label="修改时间*" required></mdb-date-picker>
    </div>

  </div>
  <div id="foot_div">
    <button mdbBtn type="button" color="success" class="waves-light form_button" mdbWavesEffect>保存</button>
    <button mdbBtn type="button" color="danger" class="waves-light form_button" mdbWavesEffect>提交</button>
  </div>
</div>