<div id="body_div">
  <div id="title_div">
    贷款还款
  </div>
  <div id="fu_div">
    <div id="zi_div">
      <span>客户号:{{khh}}</span>
      <span>客户名称:{{khmc}}</span>
      <span>合同编号:{{htbh}}</span>
      <span>业务类型:{{ywlx}}</span>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="py-3 px-3">
      <label mdbBtn color="primary" class="lb_button" [(ngModel)]="radioModel" mdbRadio="htxq" mdbWavesEffect>
        <a>合同详情</a>
      </label>
      <label mdbBtn color="primary" class="lb_button" [(ngModel)]="radioModel" mdbRadio="yszkhk" mdbWavesEffect>
        <a>应收账款回款</a>
      </label>
    </div>
  </div>
  <div class="body_div">
    <div class="title_div"><strong class="title_b">基本信息</strong></div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">融资金额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">利率:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">计息天数:</label>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">贷款余额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <mdb-select [options]="hkfs" placeholder="请选择" label="还款方式:"></mdb-select>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <div class="bk_div">
            <mdb-select [options]="paDype" placeholder="请选择" label="还本付息日:"></mdb-select>
          </div>
          <div class="bk_div">
            <mdb-select [options]="paDay" placeholder="请选择"></mdb-select>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">还款金额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="check_div">是否提前还款:</div>
        <div class="radio_left custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="EDSYFS3" value="true" mdbInputDirective>
          <label class="custom-control-label" for="EDSYFS3">是</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="EDSYFS4" value="false" mdbInputDirective>
          <label class="custom-control-label" for="EDSYFS4">否</label>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">指定还款账号:</label>
        </div>
      </div>
      <div class="lf_div">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">户名:</label>
        </div>
      </div>
    </div>
    <br>
    <div id="m_table_title_div">
      <strong class="title_b">账户信息:</strong>
      <button mdbBtn id="ts_button" type="button" color="secondary" class="waves-light" mdbWavesEffect>导入回款账户交易明细</button>
    </div>
    <div style="text-align: center;">
      <div id="t_zi_table_div">
        <table class="table table-hover table-responsive-md mb-0 table-bordered">
          <thead class="lighten-2">
            <tr>
              <th>账号</th>
              <th>账号类型</th>
              <th>交易总金额</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of tableData; let i = index">
              <tr>
                <td>{{data.busNo}}</td>
                <td>{{data.busNo}}</td>
                <td>{{data.busNo}}</td>
                <td><a href="javaScript:;" class="ckxq_a">查看详情</a></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">本次回款总额<span class="font_red">*</span>:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="check_div">是否释放额度:</div>
        <div class="radio_left custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="EDSYFS3" value="true" mdbInputDirective>
          <label class="custom-control-label" for="EDSYFS3">是</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="EDSYFS4" value="false" mdbInputDirective>
          <label class="custom-control-label" for="EDSYFS4">否</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
      </div>
    </div>

    <div id="table_title"><strong>指定回款应收账款明细</strong></div>
  </div>
  <div id="yszkmx_table_div">
    <br>
    <table class="table table-hover table-responsive-md mb-0 table-bordered">
      <thead class="lighten-2">
        <tr>
          <th scope="row"></th>
          <!-- <th scope="row">
            <mdb-checkbox (click)="quanXuan()" [(ngModel)]="qx_btn"></mdb-checkbox>
          </th> -->
          <th scope="row">买方</th>
          <th scope="row">基础交易合同名称</th>
          <th scope="row">基础交易合同编号</th>
          <th scope="row">单据类型</th>
          <th scope="row">单据号码</th>
          <th scope="row">应收账款到期日</th>
          <th scope="row">应收账款金额</th>
          <th scope="row">融资比例(%)</th>
          <th scope="row">融资款金额</th>
          <th scope="row">指定收款金额</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of tableData; let i = index">
          <tr>
            <td scope="row" class="index_td">{{i+1}}</td>
            <!-- <td scope="row">
              <mdb-checkbox [(ngModel)]="check_arr[i]"></mdb-checkbox>
            </td> -->
            <td scope="row">{{data.busName}}</td>
            <td scope="row">{{data.busCouna}}</td>
            <td scope="row">{{data.busCoun}}</td>
            <td scope="row">{{data.busType}}</td>
            <td scope="row">{{data.busNo}}</td>
            <td scope="row">{{data.endDate}}</td>
            <td scope="row">{{data.busRecei}}</td>
            <td scope="row">{{data.downPaymentFlt}}</td>
            <td scope="row">{{data.loaAmt}}</td>
            <td scope="row">{{data.resAmt}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="body_div">
    <div class="title_div"><strong class="title_b">还款交易信息</strong></div>

    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">贷款余额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">应收利息:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
      </div>
    </div>

    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">当前还款期数:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">当期应还本金<span class="font_red">*</span>:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">当期应还利息<span class="font_red">*</span>:</label>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">本次还款金额<span class="font_red">*</span>:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">其中还本金额<span class="font_red">*</span>:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">其中还息金额<span class="font_red">*</span>:</label>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">已使用额度:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">剩余额度:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">释放额度:</label>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">本次释放后额度余额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="md-form">
          <input mdbInputDirective type="text" id="fddbr_1input" class="form-control">
          <label for="fddbr_1input" class="">本次回款余额:</label>
        </div>
      </div>
      <div class="sf_div col-md-6 mx-auto mt-5">
        <div class="check_div">回款余额是否自动划给借款人:</div>
        <div class="radio_left_bo custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="EDSYFS3" value="true" mdbInputDirective>
          <label class="custom-control-label" for="EDSYFS3">是</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="EDSYFS4" value="false" mdbInputDirective>
          <label class="custom-control-label" for="EDSYFS4">否</label>
        </div>
      </div>
    </div>

  </div>

  <div id="foot_div">
    <button mdbBtn type="button" color="success" class="waves-light form_button" mdbWavesEffect>保存</button>
    <button mdbBtn type="button" color="danger" class="waves-light form_button" mdbWavesEffect>取消</button>
  </div>
</div>