<div>
  <div class="fyglpage" [hidden]="hidFlag">
    <div style="width:100%;height:10%;background-color: white;">
      <app-breadcrumbs [title]="title"></app-breadcrumbs>


    </div>
    <!-- 以下是搜索框内容 -->
    <div class="fygl_body">
      <div class="fygl_body_head">
        <div>
          <div class="marg_div bk_div">
            <span class="font_cen">客户号:</span>
            <div class="er_input">
              <app-df-input size="small"></app-df-input>
            </div>
          </div>
          <div class="marg_div bk_div">
            <span class="font_cen">客户名称:</span>
            <div class="er_input">
              <app-df-input size="small"></app-df-input>
            </div>
          </div>

          <div class="marg_div bk_div">
            <span class="font_cen">合同编号:</span>
            <div class="er_input">
              <app-df-input size="small"></app-df-input>
            </div>
          </div>
          <div class="marg_div bk_div">
            <span class="font_cen"> 业务类型:</span>
            <div class="er_input">
              <df-select [options]="optionsSelect" size="small" [disabled]="false"></df-select>
            </div>
          </div>

          <!-- <div class="md-form bk_div marg_div">
            <mdb-date-picker name="mydate" [options]="myDatePickerOptions" label="合同签署日期" [(ngModel)]="model" required></mdb-date-picker>
          </div>
          <div class="md-form bk_div marg_div">
            <mdb-date-picker name="mydate" [options]="myDatePickerOptions" label="合同结束日期" [(ngModel)]="model" required></mdb-date-picker>
          </div> -->
          <div class="inputd" style="margin-left: 1%; display: inline-block;">
            <div class="ui-inputgroup">
              <span class="i-h">融资开始日期：</span>
              <p-calendar [showTime]="true" placeholder="开始时间" [locale]="params.es" dateFormat="yy/mm/dd"></p-calendar>
              <span class="ui-inputgroup-addon" class="i-h">至</span>
              <p-calendar [showTime]="true" placeholder="结束时间" [locale]="params.es" dateFormat="yy/mm/dd"></p-calendar>
            </div>
          </div>

          <div class="bk_div marg_div">
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect mdbWavesEffect>查询</button>
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect mdbWavesEffect>重置</button>
          </div>
        </div>
        <!--             
            <div class="marg_div bk_div">
              <span class="font_cen">合同编号:</span>
              <div class="er_input">
                <app-df-input></app-df-input>
              </div>
            </div>
            <div class="md-form bk_div marg_div">
              <mdb-select [options]="optionsSelect" placeholder="请选择" label="业务类型"></mdb-select>
            </div>
            <div class="md-form bk_div marg_div">
              <mdb-date-picker name="mydate" [options]="myDatePickerOptions" label="合同签署日期" [(ngModel)]="model" required></mdb-date-picker>
            </div>
            <div class="md-form bk_div marg_div">
              <mdb-date-picker name="mydate" [options]="myDatePickerOptions" label="合同结束日期" [(ngModel)]="model" required></mdb-date-picker>
            </div>
   -->


      </div>
      <div class="fygl_body_table">
        <span>合同列表信息</span>
        <button type="button" style="float:right;margin:1% 2% 0 0;" size="sm" mdbBtn color="light" mdbWavesEffect>导出</button>
        <div class="px-4">
          <table class="table table-hover table-responsive-md mb-0 table-bordered">
            <thead class="lighten-2">
              <tr>
                <th *ngFor="let head of table_head;let i=index" scope="row">
                  <span *ngIf="head!='check';">
                    {{head}}
                  </span>
                  <span *ngIf="head=='check';">
                    <mdb-checkbox [(ngModel)]="allcheck"></mdb-checkbox>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let el of table_body; let i = index">
                <tr *ngIf="el.id >= firstVisibleIndex && el.id <=lastVisibleIndex" (dblclick)="basicModal.show();">
                  <td scope="row">{{i+1}}</td>
                  <td scope="row">
                    <mdb-checkbox [checked]="allcheck"></mdb-checkbox>
                  </td>
                  <td scope="row">{{el.cuNo}}</td>
                  <td scope="row">{{el.cuName}}</td>
                  <td scope="row">{{el.contNo}}</td>
                  <td scope="row">{{el.busType}}</td>
                  <td scope="row">{{el.actualAmt}}</td>
                  <td scope="row">{{el.termType}}</td>
                  <td scope="row">{{el.term}}</td>
                  <td scope="row">{{el.auRate}}</td>
                  <td scope="row">{{el.startTimestamp}}</td>
                  <td scope="row">{{el.dueTimestamp}}</td>
                  <td scope="row">{{el.loanIs}}</td>
                  <td scope="row">{{el.begTimestamp}}</td>

                  <td scope="row">

                    <!-- <button type="button" style="float:right;margin:2% 2% 0 0;" size="sm" mdbBtn color="light" 
                        mdbWavesEffect>发放</button> -->

                    <a (click)="ZJFFDemoBasic.show();" style="color:blue;">发放</a>
                    <a class="table_a" href="https://www.zhongdengwang.org.cn/zhongdeng/index.shtml" target="_blank">转让登记</a>
                    <a class="table_a" (click)="hidFlag=true;showZrtz();">转让通知</a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <nav class="my-4 pt-2">
            <ul class="pagination pagination-circle pg-purple mb-0">
              <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                <a class="page-link">首页</a>
              </li>
              <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index"
                class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
              </li>
              <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                <a class="page-link">尾页</a>
              </li>
              <li class="page-item clearfix d-none d-md-block disabled">
                <span class="page-link">{{itemsPerPage}}条/页</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">业务线
        </h4>
      </div>
      <div class="modal-body" style="overflow-y:auto;height:600px;">
        <app-fafangxinxi [inputdata]="inputdata"></app-fafangxinxi>
      </div>
    </div>
  </div>
</div>
<div mdbModal #ZJFFDemoBasic="mdbModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="wins" role="document">
    <div class="modal-content">
      <button type="button" class="close pull-right" aria-label="Close" (click)="ZJFFDemoBasic.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <app-zijinfafang [ZJFFDemoBasic]="ZJFFDemoBasic"></app-zijinfafang>
    </div>
  </div>
</div>
<div id="yszktz" [ngStyle]="{'left': yszktzLeft}">
  <app-yszktz [(hidFlag)]='hidFlag' [(yszktzLeft)]="yszktzLeft"></app-yszktz>
</div>