#body_div{
    border: 1px solid #615a5a;
    margin: 0 auto;
    margin-top: 30px !important;
    background-color: #ffffff;
    width: 95%;
    padding-bottom: 5%;
}
.bk_div{
    margin-left: 0% !important;
    width: 50%;
}
.font_red{
    color: red;
}
#button_div button{
    padding: 0px;
    height: 25px;
    width: 60px;
    margin: 30px;
    background-color: #454a6a !important;
}
#button_div{
    width: 100%;
    text-align: center;
    background: #dedeff;
}
.rqgs_div{
    margin-top: 5%;
}