<div class="khxx">
  <div>
    <div class="row" style="background:#fff">
      <div style="padding: 0 32px;">
        <div class="el-breadcrumb">
          <app-breadcrumbs [title]="title"></app-breadcrumbs>
        </div>
      </div>

    </div>
  </div>
  <div class="body">
    <div class="setdiv">
      <div class="row">
        <!-- .................................................... -->
        <div>
          <div class="marg_div bk_div">
            <span class="font_cen">客户号:</span>
            <div class="er_input">
              <app-df-input [values]='client.cuNo'></app-df-input>
            </div>
          </div>
          <div class="marg_div bk_div">
            <span class="font_cen">客户名称:</span>
            <div class="er_input">
              <app-df-input [values]='client.cuName'></app-df-input>
            </div>
          </div>
          <div class="marg_div bk_div">
            <span class="font_cen">合同编号:</span>
            <div class="er_input">
              <app-df-input [values]='client.contNo'></app-df-input>
            </div>
          </div>
          <div class="md-form bk_div marg_div">
            <mdb-select [options]="busTypes" [(ngModel)]="client.busType" placeholder="请选择" label="业务类型"></mdb-select>
          </div>
          <div class="md-form bk_div marg_div">
            <mdb-select [options]="loanStas" placeholder="请选择" label="合同状态" [(ngModel)]="client.loanSta"></mdb-select>
          </div>
          <div class="md-form" style="margin-left:2%;display: inline-block">
            <div class="ui-inputgroup">
              <span class="i-h">合同签署日期：</span>
              <p-calendar [showTime]="true" placeholder="开始时间" [locale]="params.es" [(ngModel)]="client.startTimestamp"
                dateFormat="yy/mm/dd"></p-calendar>
              <span class="ui-inputgroup-addon" class="i-h">至</span>
              <p-calendar [showTime]="true" placeholder="结束时间" [locale]="params.es" [(ngModel)]="client.dueTimestamp"
                dateFormat="yy/mm/dd"></p-calendar>
            </div>
          </div>
          <div class="bk_div marg_div">
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" (click)="search()" mdbWavesEffect>查询</button>
            <button mdbBtn type="button" color="primary" class="waves-light btn-sm" (click)="oncz()" mdbWavesEffect
              mdbWavesEffect>重置</button>
          </div>
        </div>
        <!-- --------------------------------- -->
      </div>
      <div class="khxxb">
        <h4 id="title_h4">合同列表信息</h4>
        <div id="but_div" style="flex:1;text-align: right;padding: 3px 30px;">
          <button mdbBtn type="button" color="primary" class="waves-light btn-sm" (click)="demoBasic.show();"
            mdbWavesEffect>新增</button>
          <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect mdbWavesEffect>修改</button>
          <button mdbBtn type="button" color="primary" class="waves-light btn-sm" mdbWavesEffect>删除</button>

          <!-- <button type="button" (click)="newdemoBasic.show();" class="btn btn-outline-primary waves-effect btn-sm">新增</button>
        <button type="button" class="btn btn-outline-primary waves-effect btn-sm">修改</button>
        <button type="button" (click)="del()" class="btn btn-outline-primary waves-effect btn-sm">删除</button> -->
        </div>
        <div class="px-4">
          <table class="table table-hover table-responsive-md mb-0 table-bordered">
            <thead class="lighten-2">
              <tr>
                <th scope="row">序号</th>
                <th scope="row">
                  <mdb-checkbox (click)="quanXuan()" [(ngModel)]="qx_btn"></mdb-checkbox>
                </th>
                <th scope="row">客户号</th>
                <th scope="row">客户名称</th>
                <th scope="row">合同编号</th>
                <th scope="row">业务类型</th>
                <th scope="row">融资金额</th>
                <th scope="row">剩余还款金额</th>
                <th scope="row">期限类型</th>
                <th scope="row">期限</th>
                <th scope="row">融资利率（%）</th>
                <th scope="row">合同到期日</th>
                <th scope="row">合同状态</th>

                <th scope="row">操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of tableData; let i = index">
                <tr>
                  <td scope="row" class="index_td">{{i+1}}</td>
                  <td>
                    <mdb-checkbox></mdb-checkbox>
                  </td>
                  <td scope="row">{{data.cuNo}}</td>
                  <td scope="row">{{data.cuName}}</td>
                  <td scope="row">{{data.contNo}}</td>
                  <td scope="row">{{data.busType}}</td>
                  <td scope="row">{{data.actualAmt}}</td>
                  <td scope="row">{{data.bal}}</td>
                  <td scope="row">{{data.termType}}</td>
                  <td scope="row">{{data.sterm}}</td>
                  <td scope="row">{{data.auRate}}</td>
                  <td scope="row">{{data.dueTimestamp}}</td>
                  <td scope="row">{{data.loanSta}}</td>
                  <td scope="row">
                    <a (click)="transmit(i)" style="color:blue;">综合信息</a>/
                    <a (click)="shenpidemoBasic.show();" style="color:blue;">审批</a>

                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <nav class="my-4 pt-2">
            <ul class="pagination pagination-circle pg-purple mb-0">
              <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                <a class="page-link">首页</a>
              </li>
              <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index"
                class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
              </li>
              <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                <a class="page-link">尾页</a>
              </li>
              <li class="page-item clearfix d-none d-md-block disabled">
                <span class="page-link">{{itemsPerPage}}条/页</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div mdbModal #demoBasic="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="wins" role="document">
      <div class="modal-content">
        <button type="button" class="close pull-right" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <div id="mtk_div" class="wins-body">
          <app-yingshouzhangkuanhuankuan></app-yingshouzhangkuanhuankuan>
        </div>
      </div>
    </div>
  </div>
  <div mdbModal #hetongdemoBasic="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="wins" role="document">
      <div class="modal-content">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hetongdemoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <div id="mtk_div" class="wins-body">
          <app-htqs-index [(isedit)]="isedit"></app-htqs-index>
        </div>
      </div>
    </div>
  </div>
  <div mdbModal #shenpidemoBasic="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="wins" role="document">
      <div class="modal-content">
        <button type="button" class="close pull-right" aria-label="Close" (click)="shenpidemoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <div id="mtk_div" class="wins-body">
         <shenpi-page></shenpi-page>
        </div>
      </div>
    </div>
  </div>