<p>
  daikuanhuankuan works!
</p>
<button mdbBtn type="button" color="primary" (click)="demoBasic.show();" class="waves-light btn-sm" mdbWavesEffect mdbWavesEffect>应收账款还款</button>
<div mdbModal #demoBasic="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="wins" role="document">
    <div class="modal-content">
      <button type="button" class="close pull-right" aria-label="Close" (click)="demoBasic.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <div id="mtk_div" class="wins-body">
        <app-yingshouzhangkuanhuankuan></app-yingshouzhangkuanhuankuan>
      </div>
    </div>
  </div>
</div>