<div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
        <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Primary</button>
      </div>
</div>
{{mval}}
<app-df-cascader [options]="options" [(values)]="mval" [showAllLevels]="true"></app-df-cascader>
<mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" [(ngModel)]="model"
  required></mdb-date-picker>
  <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" [(ngModel)]="model"
  required></mdb-date-picker>