<div style="padding:50px">
    <div>
        <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
          <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect (click)="oncl()">Primary</button>
        </div>
      </div>
      {{mval}}
      <br />
      <app-df-steps [options]="dataSteps.options" active="3" activeError="3"></app-df-steps>
      
      <div class="row" style="margin-left: 50px">
        <div class="inputd">
          <div class="md-form">
            <input mdbInputDirective type="text" ngModel="kh.name" id="form1" class="form-control">
            <label for="form1" class="">客户名称</label>
          </div>
        </div>
        <div class="inputd">
          <div class="md-form">
            <input mdbInputDirective type="text" ngModel="kh.hm" id="form2" class="form-control">
            <label for="form2">证件号码</label>
          </div>
        </div>
        <div class="inputd">
          <div class="md-form">
            <app-df-cascader [options]="options" [(values)]="mval" [showAllLevels]="true" label="三级联动" [isMDBstyle]="true"></app-df-cascader>
          </div>
        </div>
        <div class="inputd">
          <div class="md-form">
            <input mdbInputDirective type="text" ngModel="kh.hm" id="form2" class="form-control">
            <label for="form2">合同编号</label>
          </div>
        </div>
      </div>
        <div tabindex="0" class="qloud-upload qloud-upload--text"><button type="button" class="qloud-button qloud-button--primary qloud-button--small">
          <span>点击上传</span></button><input type="file" name="file" multiple="multiple" class="qloud-upload__input">
        </div>
      
        <br/>
        <br/>
        <app-df-input [(values)]="inputVal"></app-df-input>
        <div>
            标题：
          <app-df-input [(values)]="inputVal"  [width]="'200px'"></app-df-input>
        </div>
        <div>
            禁用：
          <app-df-input [(values)]="inputVal"  width="200px" disabled="true"></app-df-input>
          <div>
              <h3 id="chi-cun"><a aria-hidden="true" class="header-anchor">¶</a> 尺寸</h3>
              <div>
          <app-df-input [(values)]="inputVal"  width="200px" size="medium"></app-df-input>
          <app-df-input [(values)]="inputVal"  width="200px" size="small"></app-df-input>
          <app-df-input [(values)]="inputVal"  width="200px" size="mini">
          </app-df-input>
              </div>
              <div class="mg">
                  <h3 id="chi-cun"><a aria-hidden="true" class="header-anchor">¶</a>复合型输入框</h3>
                  <div class="mg">
                      <app-df-input [(values)]="inputVal"  width="300px" size="small" slot="prepend">
                          <span #content slot="prepend">http://</span>
                        </app-df-input>

                        <br/>
                        <app-df-input [(values)]="inputVal"  width="300px" size="small" slot="prepend">
                            <span #content slot="prepend">http://</span>
                          </app-df-input>
  
                          <br/>
                        <app-df-input [(values)]="inputVal"  width="300px" size="small" slot="append">
                            <span #content slot="append">.com</span>
                        </app-df-input>
                        <br/>
                        input下拉菜单：
                        <app-df-input [(values)]="inputVal"  width="300px" size="small" slot="append">
                            <df-select #content [(values)]="selectData.val" [options]="selectData.options" [disabled]="false" slot="append-select"></df-select>
                        </app-df-input>
                  </div>
              </div>
          </div>
        </div>
        <span style="width:180px">
          <app-df-input></app-df-input>
        </span>
        <br/>
        {{inputVal}}
        <br/>
        <app-df-dialog [isShow]="true"></app-df-dialog>
        <br/>
      <input type="file" id="uploadFile"> <button (click)="onup()">上传</button>
      
      <app-df-cascader [options]="options" [(values)]="mval" [showAllLevels]="true" label="三级联动"></app-df-cascader>
      <div>
          <df-button-group>
            <df-button type="primary" size="medium">重置</df-button>
            <df-button type="primary" size="medium">查询</df-button>
          </df-button-group>
      </div>
      <div>
       下拉菜单： <df-select [(values)]="selectData.val" [options]="selectData.options" [disabled]="false"></df-select>
       <div>
          下拉菜单value： {{selectData.val}}
       </div>
      </div>
</div>
<style>
.mg{
  margin: 5px
}
</style>