//总页面的css Style
.page{
    width:100%;
    background-color:white;
    padding: 2% 2% 2% 2%;
}
.pagehead{
    text-align: center;
    & div{
        width:20%;
        margin-left: 2%;
        display: inline-block;
    }
}
.pagebody{
    width:96%;
    margin:2% 2% 2% 2%;
}
.dataupdate{
    margin: 2% 0 2% 0;
}
table{
    table-layout: fixed;
    text-align: center;
    & td{
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; //对象超出文本时显示...

    }
    & th{
        white-space: nowrap;
    }
}