<div class="row">
  <div class="fwktpage">
      <div style="width:100%;min-width:660px;height:10%;min-height: 90px;">
          <div style="background-color:white;min-width:190px;padding: 1% 0 0% 0;margin: 1% 0 0 0%; float: left;">
              <app-breadcrumbs [title]="title"></app-breadcrumbs>
          </div>
          
      </div>
    
      <div  class="fwkt_body">
          <div class="fwkt_body_head">
            <i class="fa fa-list-alt fa=1g"></i>
            <span>服务信息</span>


          </div>
          <div class="fwkt_body_body">
                  <span><b>你已经成功开通了实名认证</b></span>
                  
                  
          </div>
          <div>
            <div class="fwkt_body_foot">
                <span>系统已为您生成电子印章</span>
                <div class="yinzhang">
                      
                </div>
        </div>
          </div>
      </div>
  </div>
</div>
