.sqxq_body{
    width: 96%;
    min-width: 400px;
    margin: 2% 2% 2% 2%;
    overflow: auto;
    background-color: white;
    & .jibenjiaoyixinxi{
        border: 1px solid black;
        margin: 2% 2% 2% 2% ;
        padding: 2% 2% 2% 2% ;
        width: 96%;
         
       // min-width: 1000px;
        & .col-md-6{
            min-height: 80px;
            float: left;
            width: 22%;
        }
    }
    & .yingshouzhangkuanmingxi{
        border: 1px solid black;
        margin: 2% 2% 2% 2% ;
        padding: 2% 2% 2% 2% ;
        width: 96%;
        overflow: auto;
        //min-width: 1000px;
        max-height: 300px;
    }
    & .fenxingshouxin{
        margin: 2% 2% 2% 2% ;
        padding: 2% 2% 2% 2% ;
        width: 96%;
        min-height: 180px;
        border: 1px solid black;
        & .md-form{
            width: 20% ;
            float: left;
            margin-left: 2%;
        }
        & .col-md-6{
            width: 20% ;
            float: left;
            margin-left: 2%;
        }
        /deep/ & .mydp{
            width: 20% !important;
            float: left;
            margin-left: 2%;
        }
    }
    & .yingshouzhangkuan{
        margin: 2% 2% 2% 2% ;
        padding: 2% 2% 2% 2% ;
        width: 96%;
        max-width: 1200px;
        border: 1px solid black;
    }
    & .rongzixinxi{
        border: 1px solid black;
        margin: 2% 2% 2% 2% ;
        padding: 2% 2% 2% 2% ;
        width: 96%;
        min-height: 200px;
        //min-width: 1000px;
        & .md-form{
            width: 18%;
            float: left;
            margin-left: 3%;
        }
        /deep/ & .mydp{
            width: 20% !important;
            float: left;
            margin-left: 2%;
        }
       
    }
    & .dengjixinxi{
        border: 1px solid black;
        margin: 2% 2% 2% 2% ;
        padding: 2% 2% 2% 2% ;
        width: 96%;
        min-height: 250px;
        //min-width: 1000px;
        & .md-form{
            width: 30%;
            
            float: left;
            margin: 0 0 0 2% !important;
            
        }
    }
    & .buttonhero{
        text-align: center;
        & input{
            margin-left: 5%;
        }

    }
}
#inputandselect{
            width: 35%;
            height: 20%;
            min-width: 200px;
            min-height: 60px;
            float: left;
            margin-left: 3%;
}
th , td{
    white-space: normal;   
    min-width: 100px; 
}