<div id="body_div">
  <div id="title_div">
    {{title}}
    <a routerLink="/finas/home/yszktz">
      <button mdbBtn type="button" id="back_button" color="danger" class="waves-light" mdbWavesEffect>返回</button>
    </a>
  </div>
    <div id="fu_div">
      <div id="zi_div">
        <span class="margin_es_span">金融产品代码<span class="font_red">*</span>:{{jrcpdm}}</span>
        <span class="margin_es_span">产品名称<span class="font_red">*</span>:{{cpmc}}</span>
      </div>
      <div id="zi_div">
        <span class="margin_es_span">智能合约代码<span class="font_red">*</span>:{{znhydm}}</span>
        <span class="margin_es_span">智能合约名称<span class="font_red">*</span>:{{znhymc}}</span>
      </div>
    </div>
    <br><br>
</div>

