.zhxxpage{
    width: 99%;
    height: 100%;
}
.left_zonghexinxi{
    width: 23%;
   // max-width: 250px;
    //min-width: 230px;
    //height: 1000px;
    float: left;
    text-align: left;
    padding-top: 5%;
    padding-left: 3%;
    background-color: #e6ecf7;
    & button{
        margin: 20px 5px 10px 5px;
        background:none;
        border:none;
    }
    & label{
        font-size: 20px;
        font-weight: bold;
    }
}
.right_zonghexinxi{
    width:77%;
    min-width: 660px;
    //height: 1000px;
    float: left;
    //overflow-x: scroll;
    //overflow-y: scroll;
}
.top_zonghexinxi{
    min-width: 660px;
    width: 100%;
    // height: 200px;
    border-radius: 10px;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 2%;
    background-color: #e6ecf7;
    flex:1;
    float: left;
    & .md-form{
        width: 21%;
        height: 30%;
        float: left;
        margin-left: 2%;
    }
    
}
.down_zonghexinxi{
    width: 100%;
    min-width:660px;
    //max-height: 740px;
    //height: 800px;
    float: left;
    
    overflow: scroll;
    background-color:   #e6ecf7;
}
.title_top{
    width: 100%;
    background-color: #e6ecf7;
    & button{
        // width: 100px;
        // height: 25px;
        font-size: 10px;
        text-align: center;
    }
}
