<div  mdbTable mdbTableScroll scrollY="true" maxHeight="557" scrollX="true" maxWidth="1212">
  <div class="xzyszkmx">
    <div></div>
    <div class="body">
      <div class="md-form">
          <div class="card">
            <div class="card-body" >
              <table style="margin:auto; width:100%;">
                <tr style="border-bottom-style: dotted;" class="center">
                  <!-- style="border-top:1px dashed #00F ;" -->
                  <td >证件类型：{{tableData.idType}}</td>
                  <td>证件号码*：{{tableData.idNo}}</td>
                  <td>客户名称：{{tableData.cuName}}</td>
                </tr>
              </table>
            </div>
          </div>
      </div>

      
        <div class ="md-form" > 
          <div class="card-body">
            <div class="col-sm txtright">
              <button mdbBtn type="button" color="primary" icon="fa-trash" class="df-btn btn-sm df-btn-border-none"outline="true" mdbWavesEffect (click)="add()">
                <i class="fa fa-plus df-icon" aria-hidden="true"></i> <span>添加</span>
            </button>
            </div>
            <table class="table-center" bordered="true" scrollX="true" maxWidth="100%" mdbTable mdbTableScroll>
              <tr>
                <th class="text-center">买方</th>
                <th class="text-center">基础交易合同</th>
                <th class="text-center">基础交易合同编号</th>
                <th class="text-center">单据类型</th>
                <th class="text-center">单据号码</th>
                <th class="text-center">票面金额</th>
                <th class="text-center">票面日期</th>
                <th class="text-center">应收账款金额</th>
                <th class="text-center">应收账款到期日</th>
                <th class="text-center">操作</th>
              </tr>
              
              <tr *ngFor="let person of client.list; let id = index">
                <td><input  type="text"  class="form-control" [(ngModel)]="person.busName" name="busName" placeholder="买方"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.busCouna" name="busCouna" placeholder="基础交易合同"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.busCoun" name="busCoun" placeholder="基础交易合同编号"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.busType" name="busType" placeholder="单据类型"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.busNo" name="busNo" placeholder="单据号码"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.billAmt" name="billAmt" placeholder="票面金额"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.billDate" name="billDate" placeholder="票面日期"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.busRecei" name="busRecei" placeholder="应收账款金额"></td>
                <td><input  type="text"  class="form-control" [(ngModel)]="person.endDate" name="endDate " placeholder="应收账款到期日"></td>
                <td>
                  <button mdbBtn type="button" color="danger" icon="fa-trash" class="df-btn df-btn-border-none btn-sm"outline="true" mdbWavesEffect (click)="remove(id)">
                    <i class="fa fa-trash df-icon" aria-hidden="true"></i> <span>删除</span>
                </button>
                </td>
              </tr>
            </table>
          </div>
          <fieldset  class="card">
              <legend class="sub" >登记信息</legend>
              <div class="setdiv"> 
                <div class="row">
                  <div class="inputd" style="padding-top: 11px;">
                    <div class="md-form">
                      <input mdbInputDirective type="text"   class="form-control" readonly [(ngModel)]="client.BrNo" name="BrNo ">
                      <label >登记单位</label>
                    </div>
                  </div>
                  <div class="inputd" style="padding-top: 11px;">
                    <div class="md-form">
                      <input mdbInputDirective type="text"   class="form-control" readonly [(ngModel)]="client.BrName" name="BrName ">
                      <label >登记单位名称</label>
                    </div>
                  </div>
                  <div class="inputd" style="padding-top: 11px;">
                    <div class="md-form">
                      <input mdbInputDirective type="text"   class="form-control" readonly [(ngModel)]="client.opName" name="opName ">
                      <label >登记人名称</label>
                    </div>
                  </div>
                  <div class="inputd" style="padding-top: 11px;">
                    <div class="md-form">
                      <input mdbInputDirective type="text"  id="form1" class="form-control" [(ngModel)]="client.endDate" name="endDate ">
                      <label for="form1" >修改人名称</label>
                    </div>
                  </div>                
                  <div class="inputd">
                    <div style="padding-top: 0;">
                      <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'登记日期'"
                        required readonly [(ngModel)]="client.TxDate" name="TxDate "></mdb-date-picker>
                    </div>
                  </div>
                  <div class="inputd">
                      <div style="padding-top: 0;">
                        <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'修改日期'"
                          required [(ngModel)]="client.UpDate" name="UpDate "></mdb-date-picker>
                      </div>
                    </div>
                  </div>
              </div>
          </fieldset>
        </div>
    
        <div class="center">
            <button (click)="save()" mdbBtn type="submit" color="primary" rounded="true" class="waves-light" size="sm" mdbWavesEffect>保存</button>
        </div>
  
    </div>
  </div>
</div>
<style>
    .table{
      background: #fff;
    }
    .center{
      text-align: center;
    }
    .sub{
      width: auto;
        padding: 0 10px;
        margin-left: 53px; 
        background:#fff;
        color:#0066FF;
        
    }
    .right{
  text-align: right;
}
</style>