<div id="dom_div">
    <div id="head_div">
        <app-breadcrumbs [title]="title"></app-breadcrumbs>
    </div>
    <br><br>
    <div id="body_div" class="container">

        <div id="title_div"><strong>业务流程工作台</strong></div>
            <div class="sfzy_div ">
                <div class="a_div"><a href=""> 代办融资申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>

            <div class="sfzy_div">
                <div class="a_div"><a href="">待办客户评级授信</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>

            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办业务调查与审批</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>

            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办提款申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>
            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办提款申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>
            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办提款申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>
            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办提款申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>
            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办提款申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>
            <div class="sfzy_div">
                <div class="a_div"><a href=""> 待办提款申请</a></div>
                <div class="zt_div">{{dbrzsq}}</div>
            </div>
            <div class="sfzy_div" id="jiahao_div">
                <div id="heng_div"></div>
                <div id="shu_div"></div>
            </div>
            <div id="ts_div"> </div>
        </div>
        
</div>