.title_div{
    margin:1%
}
// .zhanghu{
//     width: 95%;
//     margin: 1% 2.5%;
//     padding: 1% 1% 1% 1%;
//     border: 1px solid #615a5a;
//     background-color: white;
// }
.th_mh /deep/ div .ng-untouched,.th_mh /deep/ div textarea{
    margin: 2% auto;
    height: 40px;
    min-height: 40px;
    margin-bottom: 0%;
}
.mars{
    margin-bottom: 3%;
}
.fjsc_div{
    width: 95%;
    margin: 1% auto;
    background-color: #ffffff;

}
#alert_div{
    position: fixed;
    top: 130px;
    left: 130px;
}
#mtk_div{
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}
#qx_btn{
    background-color: #fff !important;
    color: black !important;
}
// #qx_input{
//     display: inline-block;
//     width: 83% !important;
//     margin-left: 3%;
// }
#inlineb_div{
    display: inline-block;
    border: 1px solid #dcdfe6;
    border-left: none;
}
#qiXianInput{
    border-right: none;
    border-radius: 0%;
    // border-radius
}
#sxxybh_div{
    display: inline-block !important;
}
#head_div,#button_div{
    background: #dedeff;
}
#head_div button{
    padding: 0px;
    height: 25px;
    width: 100px;
    margin:10px 30px;
}
#button_div{
    width: 100%;
    text-align: center;
}
.bk_div{
    display: inline-block;
    width: 32%;
    margin: 1% 1%;
    margin-right: 0%;
    text-align: center;
}
#zi_div{
    margin: 20px auto;
    width: 80%;
    border-bottom: 1px dashed #999999;
}
.margin_span{
    margin: 10%;
}
#tongse_div{
    background-color: #dedeff;
}
#back_button{
    float: right;
    padding: 0px;
    height: 25px;
    width: 60px;
    background-color: #4285f4 !important;
    margin-right: 0%;
    margin-top: 0%;
}
#title_div{
    margin: 0 10px;
    margin-bottom: 10px;
    padding-top: 20px !important;
    padding-bottom: 5px;
    background-color: #dedeff;
}
#fu_div{
    width: 95%;
    border: 1px solid #AABCF9;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
}
#sfflsx_div{
    font-size: 14px;
    margin: 4%
}
.radio_left{
    margin-left: 10%;
}
.check_div{
    margin-left: 4%;
    display: inline-block;
    
}
.short_div{
    display: inline-block;
    width: 31%;
    margin: 0 18px;
}
.chang_div{
    margin-left: 0px !important;
    width: 49% !important;
}
form{
    width: 95%;
    margin: 0% auto;
    background: #fff;
}
#body_bg_div{
    background-color: #DEDEFF;
    min-width: 750px;

}
mdb-select{
    text-align: center;
}
.body_div{
    width: 95%;
    border: 1px solid #615a5a;
    margin: 0 auto;
    margin-top: 30px !important; 
    position: relative;
    background-color: #ffffff;
}
#button_div button{
    padding: 0px;
    height: 25px;
    width: 60px;
    margin: 30px;
    background-color: #454a6a !important;
}
.font_red{
    color: red;
}
/deep/.win.shows .win.shows{
    width: 100vw !important;
    left: -50% !important;
}
.delbtn{
    width: 50%;
    height: 100%;
    margin: 5% auto;
    margin-bottom: 0%;
    background-color: rgba($color: #ffffff, $alpha: 0);
    color: red;
    border: none;
}