<div id="body_bg_div">
    <div id="title_div">
        <h3><strong>客户授信详情</strong></h3>
    </div>
    <!-- <div id="tongse_div">
        <div id="fu_div">
            <div id="zi_div">
                <span class="margin_span">客户号:{{dataObject.controlIndicators.cuNo}}</span>
                <span class="margin_span">客户名称:{{dataObject.controlIndicators.cuName}}</span>
            </div>
        </div>
    </div> -->


    <div id="head_div">
        <button mdbBtn type="button" color="primary" (click)="demoBasic2.show();isShow=true" class="waves-light"
            mdbWavesEffect>客户综合信息</button>
        <button mdbBtn type="button" color="primary" (click)="danbaodemoBasic2.show();" class="waves-light"
            mdbWavesEffect>担保合同</button>
    </div>

    <div class="title_div">
        <h4>客户信息</h4>
    </div>
    <div class="fjsc_div">
        <div class="bk_div ">
            <span>证件类型：</span>
            <df-select [(values)]="zhsx.idType" [options]="ID_TYPE" [disabled]="Idisabled"></df-select>
        </div>
        <div class="bk_div">
            <span>
                证件号码
                <span class="font_red">*</span>
                <span style="margin-left:20px">{{!!zhsx.idNo?'（'+zhsx.idNo.length+'位）':''}}</span>：
            </span>
            <app-df-input [width]="inputW" [(values)]="zhsx.idNo"></app-df-input>
        </div>
        <div class="bk_div">
            <span>客户名称<span class="font_red">*</span>：</span>
            <app-df-input [width]="inputW" [(values)]="zhsx.cuName"></app-df-input>
        </div>
    </div>
    <div class="title_div">
        <h4>综合授信额度</h4>
    </div>
    <div class="fjsc_div">

        <div class="form_div">
            <div [hidden]="!Idisabled" class="bk_div">
                <span>额度核准编号<span class="font_red">*</span>：</span>
                <app-df-input disabled="disabled" [width]="inputW" [(values)]="zhsx.authId"></app-df-input>
            </div>

            <div class="bk_div ">
                <span>评级信用等级<span class="font_red">*</span>：</span>
                <df-select [(values)]="zhsx.creRatin" [options]="CRE_RATIN" [disabled]="Idisabled"></df-select>
            </div>

            <div class="bk_div">
                <span>综合授信额度<span class="font_red">*</span>：</span>
                <app-df-input [width]="inputW" [(values)]="zhsx.authAmt"></app-df-input>
            </div>

            <div class="bk_div">
                <span>综合授信余额<span class="font_red">*</span>：</span>
                <app-df-input [disabled]="Idisabled" [width]="inputW" [(values)]="zhsx.authBal"></app-df-input>
            </div>
            <!-- <div class="bk_div col-md-6 mx-auto mt-5">
                    <div class="md-form">
                        <input [disabled]="Idisabled" mdbInputDirective [(ngModel)]="zhsx.term" name="zhsx.termMon" type="text"
                            id="qxy_input" class="form-control">
                        <label for="qxy_input" class="">期限月<span class="font_red">*</span>:</label>
                    </div>
                </div> -->
            <div class="bk_div">
                <span>期限<span class="font_red">*</span>：</span>
                <app-df-input [disabled]="Idisabled" [(values)]="zhsx.term" width="250px" slot="append">
                    <df-select #content [(values)]="zhsx.termType" [options]="TERM_TYPE" [disabled]="false" slot="append-select"></df-select>
                </app-df-input>
            </div>

            <div class="bk_div ">
                <span>综合授信状态<span class="font_red">*</span>：</span>
                <df-select [(values)]="zhsx.authSts" [options]="AUTH_STS" [disabled]="Idisabled"></df-select>
            </div>
            <div class="bk_div ">
                <span>还款方式：</span>
                <df-select [(values)]="zhsx.repayType" [options]="REPAY_TYPE" [disabled]="Idisabled"></df-select>
            </div>
            <div class="bk_div ">
                <span>授信类型<span class="font_red">*</span>：</span>
                <df-select [(values)]="zhsx.authLume" [options]="AUTH_LUME" [disabled]="Idisabled"></df-select>
            </div>
            <div class="bk_div">
                <span>综合授信额度起始日期<span class="font_red">*</span>：</span>
                <df-date-picker [(values)]="zhsx.begDate" width="206px" ></df-date-picker>

                <!-- <p-calendar [showTime]="true" [(ngModel)]="zhsx.begDate" placeholder="请选择" [locale]="params.es"
                    dateFormat="yy/mm/dd"></p-calendar> -->
            </div>
            <div class="bk_div">
                <span>额度终止日期<span class="font_red">*</span>：</span>
                <df-date-picker [(values)]="zhsx.endDate" width="206px" ></df-date-picker>
                <!-- <p-calendar [showTime]="true" [(ngModel)]="zhsx.endDate" placeholder="请选择" [locale]="params.es"
                    dateFormat="yy/mm/dd"></p-calendar> -->
            </div>
            <div class="bk_div">
                <div class="check_div">额度使用方式<span class="font_red">*</span></div>
                <div class="radio_left custom-control custom-radio custom-control-inline">
                    <input [disabled]="Idisabled" type="radio" class="custom-control-input" id="EDSYFS1" value="true"
                        [(ngModel)]="zhsx.recycle" name="zhsx.recycle" mdbInputDirective>
                    <label class="custom-control-label" for="EDSYFS1">循环</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input [disabled]="Idisabled" type="radio" class="custom-control-input" id="EDSYFS2" value="false"
                        [(ngModel)]="zhsx.recycle" name="zhsx.recycle" mdbInputDirective>
                    <label class="custom-control-label" for="EDSYFS2">非循环</label>
                </div>
            </div>
            <div class="bk_div">
                <div class="check_div">额度是否冻结<span class="font_red">*</span></div>
                <div class="radio_left custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" [checked]="zhsx.authSts=='冻结'" type="radio" class="custom-control-input"
                        id="EDSYFS3" value="1" [(ngModel)]="zhsx.edsfdj" name="edsfdj" mdbInputDirective>
                    <label class="custom-control-label" for="EDSYFS3">是</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" [checked]="zhsx.authSts!='冻结'" type="radio" class="custom-control-input"
                        id="EDSYFS4" value="0" [(ngModel)]="zhsx.edsfdj" name="edsfdj" mdbInputDirective>
                    <label class="custom-control-label" for="EDSYFS4">否</label>
                </div>
            </div>
            <br><br>
        </div>
    </div>

    <!-- 附件上传 -->
    <div class="title_div">
        <h4>附件上传</h4>
    </div>
    <div class="fjsc_div">
        <table class="table table-hover table-responsive-md mb-0 table-bordered">
            <thead class="lighten-2">
                <tr>
                    <th scope="row" hidden="hidden"></th>
                    <th scope="row">文件名</th>
                    <th scope="row">文件描述</th>
                    <th scope="row">
                        <button mdbBtn type="button" color="primary" size="sm" (click)="selectFile()" outline="true"
                            mdbWavesEffect>点击上传</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fileModelArr; let i=index">
                    <td scope="row" hidden="hidden">
                        <div class="file-field md-form" mdbWavesEffect>
                            <div mdbBtn color="primary" size="sm" class="waves-light">
                                <span>选择文件</span>
                                <input class="identifierUsedForTheValue" type="file" (change)="getFileName(item)"
                                    [(ngModel)]="item.fileModel">
                            </div>
                        </div>
                    </td>
                    <td scope="row">
                        <app-df-input class="th_mh" disabled="disabled" [(values)]='item.fileName'></app-df-input>
                    </td>
                    <td scope="row">
                        <app-df-input class="th_mh" placeholder='请输入文件描述' [(values)]='item.fileInfo' type='textarea'></app-df-input>
                    </td>
                    <td scope="row" style="text-align: center;">
                        <button class="delbtn" (click)="delThisFileTr(i)">
                            <i class="fa fa-times-circle-o"></i>&nbsp;删除
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 账户信息 -->
    <div class="title_div">
        <h4>账户信息</h4>
    </div>
    <div class="fjsc_div">
        <fieldset>
            <div class="container mars fyxx">
                <div class="row">
                    <div class="col-sm txtleft">
                        <span class="btx" style="padding-top: 0.98rem;">收款账户</span>
                    </div>
                    <div class="col-sm txtright">
                        <button mdbBtn type="button" color="primary" icon="fa-trash" class="df-btn btn-sm df-btn-border-none"
                            outline="true" mdbWavesEffect (click)="onZhAdd(fkxx.zhTable.skData)">
                            <i class="fa fa-plus df-icon" aria-hidden="true"></i> <span>添加</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <table class="table-center" bordered="true" scrollX="true" maxWidth="100%" mdbTable
                            mdbTableScroll>
                            <thead class="lighten-2">
                                <tr>
                                    <ng-container *ngFor="let data of fkxx.zhTable.thead; let i = index">
                                        <th scope="row">{{data}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of fkxx.zhTable.skData; let i = index">
                                    <tr>
                                        <td scope="row">{{i+1}}</td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.zh" placeholder="账户" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.khh" placeholder="开户行" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.name" placeholder="账户名称" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <button mdbBtn type="button" color="danger" icon="fa-trash" class="df-btn df-btn-border-none btn-sm"
                                                outline="true" mdbWavesEffect (click)="onRemove(fkxx.zhTable.skData,i)">
                                                <i class="fa fa-trash df-icon" aria-hidden="true"></i> <span>删除</span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="margin-top: 14px;">
                    <div class="col-sm txtleft">
                        <span class="btx" style="padding-top: 0.98rem;">还款账户</span>
                    </div>
                    <div class="col-sm txtright">
                        <button mdbBtn type="button" color="primary" icon="fa-trash" class="df-btn btn-sm df-btn-border-none"
                            outline="true" mdbWavesEffect (click)="onZhAdd(fkxx.zhTable.hkData)">
                            <i class="fa fa-plus df-icon" aria-hidden="true"></i> <span>添加</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <table class="table-center" bordered="true" scrollX="true" maxWidth="100%" mdbTable
                            mdbTableScroll>
                            <thead class="lighten-2">
                                <tr>
                                    <ng-container *ngFor="let data of fkxx.zhTable.thead; let i = index">
                                        <th scope="row">{{data}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of fkxx.zhTable.hkData; let i = index">
                                    <tr>
                                        <td scope="row">{{i+1}}</td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.zh" placeholder="账户" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.khh" placeholder="开户行" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.name" placeholder="账户名称" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <button mdbBtn type="button" color="danger" icon="fa-trash" class="df-btn df-btn-border-none btn-sm"
                                                outline="true" mdbWavesEffect (click)="onRemove(fkxx.zhTable.hkData,i)">
                                                <i class="fa fa-trash df-icon" aria-hidden="true"></i> <span>删除</span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="margin-top: 14px;">
                    <div class="col-sm txtleft">
                        <span class="btx" style="padding-top: 0.98rem;">共管账户</span>
                    </div>
                    <div class="col-sm txtright">
                        <button mdbBtn type="button" color="primary" icon="fa-trash" class="df-btn btn-sm df-btn-border-none"
                            outline="true" mdbWavesEffect (click)="onZhAdd(fkxx.zhTable.ggData)">
                            <i class="fa fa-plus df-icon" aria-hidden="true"></i> <span>添加</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <table class="table-center" bordered="true" scrollX="true" maxWidth="100%" mdbTable
                            mdbTableScroll>
                            <thead class="lighten-2">
                                <tr>
                                    <ng-container *ngFor="let data of fkxx.zhTable.thead; let i = index">
                                        <th scope="row">{{data}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of fkxx.zhTable.ggData; let i = index">
                                    <tr>
                                        <td scope="row">{{i+1}}</td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.zh" placeholder="账户" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.khh" placeholder="开户行" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <input type="text" [(ngModel)]="data.name" placeholder="账户名称" class="form-control">
                                        </td>
                                        <td scope="row">
                                            <button mdbBtn type="button" color="danger" icon="fa-trash" class="df-btn df-btn-border-none btn-sm"
                                                outline="true" mdbWavesEffect (click)="onRemove(fkxx.zhTable.ggData,i)">
                                                <i class="fa fa-trash df-icon" aria-hidden="true"></i> <span>删除</span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div id="button_div">
        <!-- submitAllData() -->
        <button mdbBtn [disabled]='isAjax' type="button" (click)="startUpload()" [hidden]="Idisabled" color="success"
            class="waves-light form_button" mdbWavesEffect>提交</button>
        <button mdbBtn [disabled]='isAjax' type="button" (click)="closeWin()" [hidden]="Idisabled" color="danger" class="waves-light form_button"
            mdbWavesEffect>取消</button>
        <div [hidden]="!Idisabled"><br><br></div>
    </div>

    <div mdbModal #demoBasic2="mdbModal" style="width:100vw;left: -10%;bottom: -10%;" class="modal fade" tabindex="-1"
        role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="wins" role="document">
            <div class="modal-content">
                <button type="button" class="close pull-right" aria-label="Close" (click)="demoBasic2.hide()">
                    <span aria-hidden="true" (click)="isShow=false">×</span>
                </button>
                <div id="mtk_div" *ngIf="isShow">
                    <app-zonghexinxi [cuNo]='zhsx.cuNo' [personPage]='personPage'></app-zonghexinxi>
                </div>
            </div>
        </div>
    </div>




    <div class="alert alert-danger" [hidden]="danger_hid" id="alert_div" role="alert">
        <strong>{{alertTxt}}</strong>
    </div>
</div>
<div mdbModal #danbaodemoBasic2="mdbModal" style="padding:100px" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="wins" role="document">
        <div class="modal-content">
            <button type="button" class="close pull-right" aria-label="Close" (click)="danbaodemoBasic2.hide()">
                <span aria-hidden="true">×</span>
            </button>
            <div id="mtk_div" class="wins-body" style="overflow:auto;">
                <app-hetong-db></app-hetong-db>
            </div>
        </div>
    </div>
</div>