#body_div{
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    width: 95%;
}
#alert_div{
    position: fixed;
    top: 130px;
    left: 130px;
}
label{
    font-size: 15px;
}
.title_h{
    margin: 1% 1%;
}
td{
    border-bottom: 1px solid gainsboro;
    line-height: 300%;
}
// #button_div{
//     background: #dedeff;
// }
#button_div{
    width: 100%;
    text-align: center;
}
#button_div button{
    padding: 0px;
    height: 25px;
    width: 60px;
    margin: 30px;
}