<div class="qloud-steps qloud-steps--horizontal">
    <ng-container *ngFor="let it of options;let i=index;">
      <div class="qloud-step is-horizontal is-center" style="margin-right: 0px;"[ngStyle]="{'flex-basis':flexbasis}">
          <div class="qloud-step__head" [class.is-finish]="active>i" [class.is-process]="active==i">
            <div class="qloud-step__line" style="margin-right: 0px;">
              <i class="qloud-step__line-inner" style="transition-delay: 0ms; border-width: 1px;" [ngStyle]="{'width':active>(i+1)?'100%':'0'}"></i></div>
            <div class="qloud-step__icon is-text">
              <div class="qloud-step__icon-inner">{{i+1}}</div>
            </div>
          </div>
          <div class="qloud-step__main">
            <div class="qloud-step__title" [class.is-finish]="active>i" [class.is-process]="active==i">{{it.title}}</div>
            <div class="qloud-step__description" [class.is-finish]="active>i" [class.is-process]="active==i">{{it.name}}</div>
          </div>
        </div>
    </ng-container>
</div>

<!-- 

<div class="qloud-steps qloud-steps--horizontal">

  
    <div class="qloud-step is-horizontal is-center" style="flex-basis: 25%; margin-right: 0px;">
      <div class="qloud-step__head is-finish">
        <div class="qloud-step__line" style="margin-right: 0px;"><i class="qloud-step__line-inner" style="transition-delay: 0ms; border-width: 1px; width: 100%;"></i></div>
        <div class="qloud-step__icon is-text">
          <div class="qloud-step__icon-inner">1</div>
        </div>
      </div>
      <div class="qloud-step__main">
        <div class="qloud-step__title is-finish">步骤1</div>
        <div class="qloud-step__description is-finish">尽调资料上传</div>
      </div>
    </div>
    <div class="qloud-step is-horizontal is-center" style="flex-basis: 25%; margin-right: 0px;">
      <div class="qloud-step__head is-finish">
        <div class="qloud-step__line" style="margin-right: 0px;"><i class="qloud-step__line-inner" style="transition-delay: 150ms; border-width: 0px; width: 0%;"></i></div>
        <div class="qloud-step__icon is-text">
          <div class="qloud-step__icon-inner">2</div>
        </div>
      </div>
      <div class="qloud-step__main">
        <div class="qloud-step__title is-finish">步骤2</div>
        <div class="qloud-step__description is-finish">资料初步审核中</div>
      </div>
    </div>
    <div class="qloud-step is-horizontal is-center" style="flex-basis: 25%; margin-right: 0px;">
      <div class="qloud-step__head is-process">
        <div class="qloud-step__line" style="margin-right: 0px;"><i class="qloud-step__line-inner" style="transition-delay: -300ms; border-width: 0px; width: 0%;"></i></div>
        <div class="qloud-step__icon is-text">
          <div class="qloud-step__icon-inner">3</div>
        </div>
      </div>
      <div class="qloud-step__main">
        <div class="qloud-step__title is-process">步骤3</div>
        <div class="qloud-step__description is-process">线下尽调</div>
      </div>
    </div>
    <div class="qloud-step is-horizontal is-center" style="flex-basis: 25%; max-width: 25%;">
      <div class="qloud-step__head is-wait">
        <div class="qloud-step__line"><i class="qloud-step__line-inner"></i></div>
        <div class="qloud-step__icon is-text">
            <div class="qloud-step__icon-inner">4</div>
        </div>
      </div>
      <div class="qloud-step__main">
        <div class="qloud-step__title is-wait">步骤4</div>
        <div class="qloud-step__description is-wait">审贷会</div>
      </div>
    </div>
    <div class="qloud-step is-horizontal is-center" style="flex-basis: 25%; max-width: 25%;">
        <div class="qloud-step__head is-wait">
          <div class="qloud-step__line"><i class="qloud-step__line-inner"></i></div>
          <div class="qloud-step__icon is-text">
              <div class="qloud-step__icon-inner">5</div>
          </div>
        </div>
        <div class="qloud-step__main">
          <div class="qloud-step__title is-wait">步骤5</div>
          <div class="qloud-step__description is-wait">授信合同签署</div>
        </div>
      </div>
  </div> -->