.home{
    // padding: 30px 50px;
    border:1px #ccc solid;
    width: 100%;
    position: relative
  }
  .backs-body,.backs{
    background:#dedeff;
    padding: 10px;
  }
  .backs-body{
    padding:0;
    margin-top: 2px;
    display: flex;
    min-height: calc(100vh - 168px);
  }
  .jtzr{
    position: absolute;
    top: 50%;
    right: -2px;
    padding: 10px;
    transform: translateY(-50%) rotate(180deg);
    transition:transform .3s;
    & .fa{
      transition:transform .5s;
      font-size: 1.3rem;
    }
    &:hover{
      cursor: pointer;
      & .fa{
        transform:rotate(-180deg);
      }
    }
  }
  .flex1{
    flex: 1;
  }
  $menw-width:175px;
  .left-menu{
    padding:10px 15px;
    width:$menw-width;
    position: relative;
    transition: width .6s,padding .6s;
  }
  /* .left-menu,.flex1.router{
    padding: 20px;
  } */
  .left-menu-active{
    width:0;
    padding-left: 0;
      & .jtzr{
        transform: translateY(-50%) rotate(0deg);
      }
  }
  .left-menu .menu{
    background: #fff;
    height: 100%;
    overflow: hidden;
  }
  .hr-h{
    background: #fff;
    width: 2.5px;
  }
  .home .r-body{
    max-height: calc(100vh - 168px);
    overflow: auto;
  }
  .home .r-body-z{
    background: #fff;
    height: 100%;
    overflow:hidden auto;
    position: relative;
  }
