<div class="home">
  <!-- <div class="backs">
    <h4 style="margin-bottom: 0;">金融服务平台
    </h4>
  </div> -->
  <div *ngIf="grade.isLogin" class="backs-body">
    <div class="left-menu" *ngIf="treeData&&(treeData.length>0)" [class.left-menu-active]="ismenu">
      <div class="menu">
        <df-tree [(data)]="treeData" [(itactive)]='itactive' [nodeClick]="nodeClick"></df-tree>
        <div class="jtzr" (click)="ismenu=!ismenu;">
          <i class="fa fa-caret-left"></i>
        </div>
      </div>
    </div>
    <span class="hr-h" *ngIf="treeData&&(treeData.length>0)"></span>
    <div class="flex1 router r-body">
      <div class="r-body-z">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div *ngIf="!grade.isLogin" class="backs-body">
    <div style="margin-top: 3%;border:1px solid #dcdfe6;position: absolute;width: 400px;left: 50%;margin-left: -200px;text-align: center;padding-top:60px">
      <h1 class="font_fff">金融服务平台</h1>
      <!--background-color:#336799;-->
      <div class="marg_div">
        <span class="font_cen" class="font_fff">账号：</span>
        <div class="er_input">
          <app-df-input [values]='login.loginId'></app-df-input>
        </div>
      </div>
      <div class="marg_div">
        <span class="font_cen" class="font_fff">密码：</span>
        <div class="er_input">
          <app-df-input [values]='login.loginPass'></app-df-input>
        </div>
      </div>
      <div class="marg_div">
        <button mdbBtn type="button" color="primary" (click)="LSShow=true" outline="true" mdbWavesEffect>登录</button>
        <button mdbBtn type="button" color="primary" (click)="LSShow=false" outline="true" mdbWavesEffect>取消</button>
      </div>
      <div *ngIf="LSShow">
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="Login(5)">客户登录</button><br />
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="Login(4)">操作员登录</button><br />
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="Login(1)">前台人员登录</button><br />
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="Login(2)">中台人员登录</button><br />
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="Login(3)">后台人员登录</button><br />
      </div>
    </div>
  </div>
</div>