<div class="home" (keydown)='keyInser($event)'>
  <!-- <div class="backs">
    <h4 style="margin-bottom: 0;">金融服务平台
    </h4>
  </div> -->
  <div *ngIf="grade.isLogin" class="backs-body">
    <div class="left-menu" *ngIf="treeData&&(treeData.length>0)" [class.left-menu-active]="ismenu">
      <div class="menu">
        <df-tree [(data)]="treeData" [(itactive)]='itactive' [nodeClick]="nodeClick"></df-tree>
        <div class="jtzr" (click)="ismenu=!ismenu;">
          <i class="fa fa-caret-left"></i>
        </div>
      </div>
    </div>
    <span class="hr-h" *ngIf="treeData&&(treeData.length>0)"></span>
    <div class="flex1 router r-body">
      <div class="r-body-z">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div *ngIf="!grade.isLogin" class="backs-body">
    <div class="win_div">
      <h1 class="font_fff">金融服务平台</h1>
      <!--background-color:#336799;-->
      <div class="marg_div">
        <span class="font_cen font_fff">账号：</span>
        <div class="er_input">
          <app-df-input [(values)]='loginUser.userName'></app-df-input>
        </div>
      </div>
      <div class="marg_div">
        <span class="font_cen font_fff">密码：</span>
        <div class="er_input">
          <app-df-input disabled="disabled" [(values)]='loginUser.pwd' type="password"></app-df-input>
        </div>
      </div>
      <div class="marg_div">
        <button mdbBtn type="button" color="primary" (click)="loginSub()" outline="true" mdbWavesEffect>登录</button>
        <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>取消</button>
      </div>
    </div>
  </div>
</div>