<div class="htdbpage">
    <!-- 以下是公共信息的头文件 -->
    <form>
     <div class="publichead">
          <div class="md-form" style="padding-top:34px;" >
            <input mdbInputDirective type="text" id="form1" name="grtContNo   " [disabled]="add" class="form-control">
            <label for="form1" class="">担保合同</label>
          </div>
          <div class="md-form" style="padding-top:34px;" >
              <input mdbInputDirective type="text" id="form1"   [disabled]="add"  class="form-control">
              <label for="form1" class="">担保比例（%）</label>
          </div>
          <div class="md-form" style="padding-top:34px;" >
              <input mdbInputDirective type="text" id="form1"  name="vouAmt" [disabled]="add"  class="form-control">
              <label for="form1" class="">担保金额</label>
          </div>
          <div class="md-form"  >
              <mdb-date-picker name="mydate"  [options]="myDatePickerOptions" name="endDate"   [disabled]="add" label="担保合同到期日" [(ngModel)]="model"
                  required></mdb-date-picker>
          </div>
     </div>
     <!-- 以下是担保方式 -->
     <div style="text-align: left">担保方式</div>
     <div class="danbaofangshi">  
          <div >
              <div class="md-form">
                  <mdb-checkbox [checked]="xyblbo" [disabled]="add"    [default]="true"></mdb-checkbox>
                  <input mdbInputDirective type="text" [disabled]="add" (blur)="selectcheck(xybl,xyblbo)" name="xybl" [(ngModel)]="xybl" id="form1" class="form-control">
                  <label for="form1" class="">信用比例（%）</label>
              </div>
              <div class="md-form">
                  <mdb-checkbox [checked]="bzblbo" [disabled]="add"    [default]="true"></mdb-checkbox>
                  <input mdbInputDirective type="text"  [disabled]="add" (blur)="selectcheck(bzbl,bzblbo)" name="bzbl" [(ngModel)]="bzbl" id="form1" class="form-control">
                  <label for="form1" class="">保证比例（%）</label>
              </div>
              <div class="md-form">
                  <mdb-checkbox [checked]="dyblbo" [disabled]="add"   [default]="true"></mdb-checkbox>
                  <input mdbInputDirective type="text" [disabled]="add" (blur)="selectcheck(dybl,dyblbo)" name="dybl" [(ngModel)]="dybl"  id="form1" class="form-control">
                  <label for="form1" class="">抵押比例（%）</label>
              </div>
              <div class="md-form">
                  <mdb-checkbox [checked]="zyblbo" [disabled]="add"    [default]="true"></mdb-checkbox>
                  <input mdbInputDirective type="text"  [disabled]="add" (blur)="selectcheck(dybl,zyblbo)" name="dybl" [(ngModel)]="dybl"  id="form1" class="form-control">
                  <label for="form1" class="">质押比例（%）</label>
              </div>

          </div>
     </div>
     <!-- 以下担保人明细 -->
     <div style="text-align: left">担保人明细</div>
     <div class="danbaorenmingxi" >
              <div class ="md-form" style="margin:0 !important;" > 
                      <div class="card-body" >
                              <div id="table" class="table-editable">
                                  <span class="table-add float-right mb-3 mr-2">
                                      <a class="text-success"   (click)="addperson()">
                                          <i class="fa fa-plus-square "></i>
                                      </a>
                                  </span>
                              </div>
                              <table class="table table-bordered table-responsive-md table-striped text-center">
                                  <tr >
                                  
                                  <th class="text-center">序号</th>
                                  <th class="text-center">保证人客户号</th>
                                  <th class="text-center">保证人名称</th>
                                  <th class="text-center">保证人证件类型</th>
                                  <th class="text-center">保证人证件号码</th>
                                  <th class="text-center">担保金额</th>
                                  <th class="text-center">保证担保形式</th>
                                  <th class="text-center">保证方式</th>
                                  <th class="text-center">与借款人关系</th>
                                  <th class="text-center">保证人状态</th>
                                  <th class="text-center">删除</th>
                                  </tr>
                                  
                                  <tr *ngFor="let person of personList; let id = index">
                                  <td>{{id+1}}</td>
                                  <td><input mdbInputDirective type="text" name="cifNo" [(ngModel)]="testarray.cifNo" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="cifName" [(ngModel)]="testarray.cifName" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="cerType" [(ngModel)]="testarray.cerType" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="cerNo" [(ngModel)]="testarray.cerNo" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="guaranteeAmt" [(ngModel)]="testarray.guaranteeAmt" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="guarantyType" [(ngModel)]="testarray.guarantyType" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="guaranteeType" [(ngModel)]="testarray.guaranteeType" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="relationLender" [(ngModel)]="testarray.relationLender" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="statusCode" [(ngModel)]="testarray.statusCode" [disabled]="add"  class="form-control"></td>
                                  <td>
                                          <span class="table-add float-right mb-3 mr-2"  >
                                                  <a class="text-default"   (click)="remove(id)">
                                                      <i class="fa fa-minus-square fa-3x"></i>
                                                  </a>
                                          </span>   
                                  </td>
                                  </tr>
                              </table>
                      </div>

          </div>
      </div>
      <!-- 以下是抵押物担保明细 -->
     <div style="text-align: left">抵押物担保明细</div>
     <div class="diyawudanbaomingxi"  disabled="true" >
          <div class ="md-form" style="margin:0 !important;" > 
                  <div class="card-body">
                          <div id="table" class="table-editable">
                                  <span class="table-add float-right mb-3 mr-2">
                                      <a class="text-success" (click)="addperson()">
                                          <i class="fa fa-plus-square "></i>
                                      </a>
                                  </span>
                              
                          </div>
                          <table class="table table-bordered table-responsive-md table-striped text-center">
                              <tr >
                              
                              <th class="text-center">序号</th>
                              <th class="text-center">抵押人客户号</th>
                              <th class="text-center">抵押人名称</th>
                              <th class="text-center">抵押物编号</th>
                              <th class="text-center">抵押物名称</th>
                              <th class="text-center">抵押物类型</th>
                              <th class="text-center">最高可抵押金额（元）</th>
                              <th class="text-center">抵押物状态</th>
                              <th class="text-center">出入库状态</th>
                              <th class="text-center">登记日期</th>
                              <th class="text-center">登记机构</th>
                              <th class="text-center">删除</th>
                              </tr>
                              
                              <tr *ngFor="let person of personList; let id = index">
                                  <td>{{id+1}}</td>
                                  <td><input mdbInputDirective type="text" name="cifNo" [(ngModel)]="testarray.cifNo" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="cifName" [(ngModel)]="testarray.cifName" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="coreGuarantyId" [(ngModel)]="testarray.coreGuarantyId" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="gageName" [(ngModel)]="testarray.gageName" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="gageType" [(ngModel)]="testarray.gageType" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="maxMortagageAmt" [(ngModel)]="testarray.maxMortagageAmt" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="statusCode" [(ngModel)]="testarray.statusCode" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="InOutSts" [(ngModel)]="testarray.InOutSts"  [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="inputDate" [(ngModel)]="testarray.inputDate" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="inputBrId" [(ngModel)]="testarray.inputBrId" [disabled]="add"  class="form-control"></td>
                              <td>
                                      <span class="table-add float-right mb-3 mr-2">
                                              <a class="text-default" (click)="remove(id)">
                                                  <i class="fa fa-minus-square fa-3x"></i>
                                              </a>
                                      </span> 
                                     
                              </td>
                              </tr>
                          </table>
                  </div>

      </div>

     </div>
        <!-- 以下是质押物担保明细 -->
     <div style="text-align: left">质押物担保明细</div>
     <div class="zhiyawudanbaomingxi">
          <div class ="md-form" style="margin:0 !important;"> 
                  <div class="card-body">
                          <div id="table" class="table-editable">
                              <span class="table-add float-right mb-3 mr-2">
                                  <a class="text-success" (click)="addperson()">
                                      <i class="fa fa-plus-square"></i>
                                  </a>
                              </span>
                          
                          </div>
                          <table class="table table-bordered table-responsive-md table-striped text-center">
                              <tr >
                              
                              <th class="text-center">序号</th>
                              <th class="text-center">质押人客户号</th>
                              <th class="text-center">质押人名称</th>
                              <th class="text-center">质押物编号</th>
                              <th class="text-center">质押物名称</th>
                              <th class="text-center">质押物类型</th>
                              <th class="text-center">最高可质押金额（元）</th>
                              <th class="text-center">质押物状态</th>
                              <th class="text-center">出入库状态</th>
                              <th class="text-center">登记日期</th>
                              <th class="text-center">登记机构</th>
                              <th class="text-center">删除</th>
                              </tr>
                              
                              <tr *ngFor="let person of personList; let id = index">
                                  <td>{{id+1}}</td>
                                  <td><input mdbInputDirective type="text" name="cifNo" [(ngModel)]=" testarray.cifNo" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="cifName" [(ngModel)]="testarray.cifName" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="coreGuarantyId" [(ngModel)]="testarray.coreGuarantyId" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="gageName" [(ngModel)]="testarray.gageName" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="gageType" [(ngModel)]="testarray.gageType" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="maxMortagageAmt" [(ngModel)]="testarray.maxMortagageAmt" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="statusCode" [(ngModel)]="testarray.statusCode" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="InOutSts" [(ngModel)]="testarray.InOutSts" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="inputDate" [(ngModel)]="testarray.inputDate" [disabled]="add"  class="form-control"></td>
                                  <td><input mdbInputDirective type="text" name="inputBrId" [(ngModel)]="testarray.inputBrId" [disabled]="add"  class="form-control"></td>
                              <td>
                                      <span class="table-add float-right mb-3 mr-2">
                                              <a class="text-default" (click)="remove(id)">
                                                  <i class="fa fa-minus-square fa-3x"></i>
                                              </a>
                                      </span>   
                              </td>
                              </tr>
                          </table>
                  </div>

      </div>

     </div>
     <div style="text-align:center"> 
          <button mdbBtn type="button" style="margin-right:10%;" color="primary" (click)="tijiao()" mdbWavesEffect>保存</button>
          <button mdbBtn type="button" color="info" outline="true" (click)="quxiao()" mdbWavesEffect>取消</button>
     </div>
  </form>

</div>
