<div  class="xzrzsqpage">

  
  <div class="pagebody">
    <div>
        <pre style="font-size:10px;">

                          <span style="font-size:20px;"><b> 融资申请客户准入授信核准通知</b></span>

                致：<input class="short_input" placeholder="  输入" type="text">公司

                根据我方 <input class="short_input" placeholder="  保理商名称" type="text">对贵公司提交融资申请需求，经审核<input class="short_input" placeholder="" type="text">
                符合我方保理融资业务办理条件，请悉知！

                可持授信核准编号为：<input class="short_input" placeholder="" type="text"> 请持相关证件和材料到我方办理
                融资申请业务，谢谢！
        </pre>
    </div>
   
  </div>
</div>
