<div class="row">
  <div class="fysqpage">
    <div class="titletop">
      <span>贷款还款</span>
    </div>
    <div class="pagehead">
      <div class="md-form">
        <input mdbInputDirective type="text" id="form1" name="cuName" [(ngModel)]="huikuandata.cuName" [disabled]="true" class="form-control">
        <label for="form1" class="">卖方名称</label>
      </div>
      <div class="md-form">
        <input mdbInputDirective type="text" id="form1" name="busName" [(ngModel)]="huikuandata.busName" [disabled]="true" class="form-control">
        <label for="form1" class="">买方名称</label>
      </div>
      <div class="md-form">
        <input mdbInputDirective type="text" id="form1" name="busType" [(ngModel)]="huikuandata.busType" [disabled]="true" class="form-control">
        <label for="form1" class="">业务类型</label>
      </div>
      <div class="md-form">
        <input mdbInputDirective type="text" id="form1" name="contNo" [(ngModel)]="huikuandata.contNo" [disabled]="true" class="form-control">
        <label for="form1" class="">合同编号</label>
      </div>
    </div>
    <div class="pagebody">
      <!-- <app-hetongxq [edit]="true"></app-hetongxq> -->
      <span style="position:relative;top:2rem;left:3rem;background-color: white">基本信息</span>
      <div class="jibenxinxi">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="traInfNo" [(ngModel)]="huikuandata.jibenxinxi.traInfNo" [disabled]="true" class="form-control">
          <label for="form1" class="">转让通知书编号</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="resAmt" [(ngModel)]="huikuandata.jibenxinxi.resAmt" [disabled]="true" class="form-control">
          <label for="form1" class="">指定应收账款总金额</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="opAcct" [(ngModel)]="huikuandata.jibenxinxi.opAcct" [disabled]="true" class="form-control">
          <label for="form1" class="">买方付款账户</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="acctBal" [(ngModel)]="huikuandata.jibenxinxi.acctBal" [disabled]="true" class="form-control">
          <label for="form1" class="">付款账户余额</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="acctname" [(ngModel)]="huikuandata.jibenxinxi.acctname" [disabled]="true" class="form-control">
          <label for="form1" class="">户名</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="acctOpnbk" [(ngModel)]="huikuandata.jibenxinxi.acctOpnbk" [disabled]="true" class="form-control">
          <label for="form1" class="">开户行</label>
        </div>
        <table mdbTable bordered="true">
          <thead>
            <tr>
              <th></th>
              <th>账号</th>
              <th>账号类型</th>
              <th>交易总金额</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
              <th scope="row">账户信息</th>
              <td>{{el.test1}}</td>
              <td>{{el.test2}}</td>
              <td>{{el.test3}}</td>
              <td>
                <a>查看详情</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="md-form" style="width:35%;">
          <input mdbInputDirective type="text" id="form1" name="resAmt" [(ngModel)]="huikuandata.jibenxinxi.resAmt" [disabled]="true" class="form-control">
          <label for="form1" class="">本次回款总额</label>
        </div>
      </div>
      <span style="position:relative;top:2rem;left:3rem;background-color: white">应收账款明细</span>
      <div class="yingshouzhangkuan">
        <table mdbTable bordered="true">
          <thead>
            <tr>
              <th>
                <mdb-checkbox [(ngModel)]="allcheck"></mdb-checkbox>
              </th>
              <th>应收账款编号</th>
              <th>基础交易合同名称</th>
              <th>基础交易合同编号</th>
              <th>单据号</th>
              <th>应收账款金额（元）</th>
              <th>应收账款到期日</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
              <th scope="row">
                <mdb-checkbox [checked]="allcheck"></mdb-checkbox>
              </th>
              <td>{{el.test1}}</td>
              <td>{{el.test2}}</td>
              <td>{{el.test3}}</td>
              <td>{{el.test1}}</td>
              <td>{{el.test2}}</td>
              <td>{{el.test3}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <span style="position:relative;top:2rem;left:3rem;background-color: white">回款信息</span>
      <div class="huikuanxinxi">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="busRecei" [(ngModel)]="huikuandata.huikuan.busRecei" [disabled]="true" class="form-control">
          <label for="form1" class="">应收账款金额合计：</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="resAmt" [(ngModel)]="huikuandata.huikuan.resAmt"  [disabled]="true" class="form-control">
          <label for="form1" class="">本次回款金额：</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="reAcct" [(ngModel)]="huikuandata.huikuan.reAcct" [disabled]="true" class="form-control">
          <label for="form1" class="">回款存入指定账户：</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="reAcnm" [(ngModel)]="huikuandata.huikuan.reAcnm" [disabled]="true" class="form-control">
          <label for="form1" class="">指定账户名称：</label>
        </div>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" name="reAcbk" [(ngModel)]="huikuandata.huikuan.reAcbk" [disabled]="true" class="form-control">
          <label for="form1" class="">指定账户开户行：</label>
        </div>
        <!-- <div class="md-form" style="width:90%;"> -->
          <textarea type="text" id="form7"  name="remarks" [(ngModel)]="huikuandata.huikuan.remarks" class="md-textarea form-control" mdbInputDirective></textarea>
          <label for="form7">备注</label>
        <!-- </div> -->
      </div>
      
      <div class="pagefoot">
        <button mdbBtn type="button" color="primary" mdbWavesEffect>保存</button>
       
        <button mdbBtn type="button" color="primary" style="margin-left:5%;" mdbWavesEffect>提交</button>
      </div>
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" *ngFor="let data of dataArray; let i=index" >data.label</a>
       
      </div>
    
    </div>
  </div>

</div>